<div class="dialog-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <div mat-dialog-content cdkDragHandle>
    <div class="alert-list">
      <dx-data-grid
        [dataSource]="alarmList"
        keyExpr="id"
        [height]="300"
        [width]="700"
      >
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxi-column
          [allowFiltering]="false"
          [width]="110"
          dataType="string"
          dataField="vehicle"
          [caption]="'names.vehicle' | translate"
        ></dxi-column>
        <dxi-column
          [allowFiltering]="false"
          [width]="80"
          dataType="string"
          dataField="level"
          [caption]="'names.code' | translate"
        ></dxi-column>
        <dxi-column
          [allowFiltering]="false"
          [width]="120"
          dataType="string"
          dataField="tag"
          [caption]="'names.alarmCode' | translate"
        ></dxi-column>
        <dxi-column
          [allowFiltering]="false"
          [width]="110"
          dataType="datetime"
          dataField="time"
          [caption]="'names.time' | translate"
          cellTemplate="dateCell"
        >
          <div *dxTemplate="let data of 'dateCell'">
            {{ data.value | date: "yyyy/MM/dd HH:mm:ss" }}
          </div>
        </dxi-column>
        <dxi-column
          [allowFiltering]="false"
          dataType="string"
          dataField="message"
          [caption]="'names.desc' | translate"
        ></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>
