<oms-dialog-base [title]="'names.legend' | translate">
  <ng-container class="dialog-layout">
    <div mat-dialog-content>
      <dl>
        <dt>{{ "names.vehicleType" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(70,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65,65,65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95,95,95)"
                    stroke-width="3"
                  ></circle>
                  <text
                    class="label"
                    font-size="11px"
                    x="-15"
                    y="-4"
                    text-anchor="end"
                  >
                    vehicle_id
                  </text>
                  <text
                    class="label_order"
                    font-size="11px"
                    x="-15"
                    y="12"
                    text-anchor="end"
                  >
                    order_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.normal" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <rect
                    class="vehicle_circle_clean"
                    width="16"
                    height="16"
                    x="-8"
                    y="-8"
                    fill="rgb(205,205,205)"
                    stroke="rgb(65,65,65)"
                    stroke-width="4"
                    transform="rotate(45)"
                  ></rect>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.cleaning" | translate }}
            </div>
          </div>
        </dd>

        <dt>{{ "names.vehicleMode" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.auto" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(20, 120, 55)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(40, 180, 115)"
                    stroke-width="3"
                  ></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.manual" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(0,0,0)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(255,255,255) "
                    stroke-width="3"
                  ></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.none" | translate }}
            </div>
          </div>
        </dd>

        <dt>{{ "names.vehicleProperties" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle class="outline"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(65, 65, 65)"
                          stroke-width="5"></circle>
                  <circle class="vehicle_circle"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(95, 95, 95)"
                          stroke-width="3"></circle>
                  <circle class="corner"
                          r="3"
                          cx="-11.5"
                          cy="-11.5"
                          fill="white"
                          stroke="red"
                          stroke-width="1"></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.sensorStopped" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle class="outline"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(65, 65, 65)"
                          stroke-width="5"></circle>
                  <circle class="vehicle_circle"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(95, 95, 95)"
                          stroke-width="3"></circle>
                  <circle class="corner"
                          r="3"
                          cx="-11.5"
                          cy="-11.5"
                          fill="rgb(240, 30, 35)"></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.blocked" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle class="outline"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(65, 65, 65)"
                          stroke-width="5"></circle>
                  <circle class="vehicle_circle"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(95, 95, 95)"
                          stroke-width="3"></circle>
                  <path d="M-12 10 l6 -10 l6 10 l-12 0 z"
                        fill="yellow"
                        stroke="orange"
                        stroke-width="1px"></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.error" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle class="outline"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(65, 65, 65)"
                          stroke-width="5"></circle>
                  <circle class="vehicle_circle"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(95, 95, 95)"
                          stroke-width="3"></circle>
                  <g class="stale-badge"
                     transform="rotate(0)translate(14,-7)scale(0.875)">
                    <circle cx="0" cy="0" r="5.5" fill="white"></circle>
                    <path d="M500,10C229.8,10,10,229.8,10,500c0,270.2,219.8,490,490,490c270.2,0,490-219.8,490-490C990,229.8,770.2,10,500,10L500,10z M500,906.3C276,906.3,93.7,724,93.7,500C93.7,276,276,93.7,500,93.7C724,93.7,906.3,276,906.3,500C906.3,724,724,906.3,500,906.3L500,906.3z M325.3,500c-19.4,0-35.1,15.6-35.1,35s15.7,35,35.1,35h210c19.4,0,35-15.6,35-35V255.1c0-19.4-15.6-35.1-35-35.1c-19.4,0-35,15.7-35,35.1V500L325.3,500L325.3,500z"
                          fill="black"
                          transform="translate(-6.5,-6.5)scale(0.013)"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.stale" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle class="outline"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(65, 65, 65)"
                          stroke-width="5"></circle>
                  <circle class="vehicle_circle"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(95, 95, 95)"
                          stroke-width="3"></circle>
                  <g class="prevent-call-badge"
                     transform="rotate(0)translate(14,7)scale(0.875)">
                    <circle cx="0" cy="0" r="5.5" fill="white"></circle>
                    <path d="M500,10C229.8,10,10,229.8,10,500c0,270.2,219.8,490,490,490c270.2,0,490-219.8,490-490C990,229.8,770.2,10,500,10L500,10z M500,906.3C276,906.3,93.7,724,93.7,500C93.7,276,276,93.7,500,93.7C724,93.7,906.3,276,906.3,500C906.3,724,724,906.3,500,906.3L500,906.3z"
                          fill="#ff375f"
                          transform="translate(-6.5,-6.5)scale(0.013)"></path>
                    <path d="M144,494,c-44,-46,-45,-90,-5,-159,38,-66,163,-184,228,-214,62,-29,89,-24,141,24,l37,34,-34,35,c-40,41,-60,45,-86,16,-10,-11,-23,-20,-29,-20,-15,0,-126,100,-159,143,l-27,36,25,29,c14,17,25,34,25,40,0,10,-66,72,-77,72,-3,0,-21,-16,-39,-36z"
                          fill="black"
                          transform="translate(-4,-4)scale(0.013)"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.preventCall" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle class="outline"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(65, 65, 65)"
                          stroke-width="5"></circle>
                  <circle class="vehicle_circle"
                          r="8"
                          cx="0"
                          cy="0"
                          fill="transparent"
                          stroke="rgb(95, 95, 95)"
                          stroke-width="3"></circle>
                  <g class="prevent-push-badge"
                     transform="rotate(0)translate(14,7)scale(0.875)">
                    <circle cx="0" cy="0" r="5.5" fill="white"></circle>
                    <path d="M500,10C229.8,10,10,229.8,10,500c0,270.2,219.8,490,490,490c270.2,0,490-219.8,490-490C990,229.8,770.2,10,500,10L500,10z M500,906.3C276,906.3,93.7,724,93.7,500C93.7,276,276,93.7,500,93.7C724,93.7,906.3,276,906.3,500C906.3,724,724,906.3,500,906.3L500,906.3z"
                          fill="#ff375f"
                          transform="translate(-6.5,-6.5)scale(0.013)"></path>
                    <path d="M312,398,c-23,-23,-12,-54,33,-98,l46,-45,-182,-5,c-159,-4,-183,-7,-193,-22,-8,-13,-8,-23,0,-35,10,-16,34,-19,193,-23,l182,-5,-46,-45,c-45,-44,-56,-75,-33,-98,25,-25,53,-10,139,75,68,66,89,93,89,113,0,20,-21,47,-89,113,-86,85,-114,100,-139,75z"
                          fill="black"
                          transform="translate(-3.5,-3.5)scale(0.013)"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.preventPush" | translate }}
            </div>
          </div>
        </dd>

        <dt>{{ "names.cargoState" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <circle class="foup loading-legend"></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.loading" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <circle class="foup loaded"></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.full" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <circle class="foup unloading-legend"></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.unloading" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.empty" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <text
                    class="xfer-status"
                    font-size="8px"
                    font-weight="bold"
                    x="3"
                    y="3"
                    text-anchor="end"
                  >
                    X
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.loadFailed" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(50,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <circle class="foup loaded"></circle>
                  <text
                    class="xfer-status"
                    font-size="8px"
                    font-weight="bold"
                    x="3"
                    y="3"
                    text-anchor="end"
                  >
                    X
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.unloadFailed" | translate }}
            </div>
          </div>
        </dd>

        <dt>{{ "names.orderPriority" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(70,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <text
                    class="label"
                    font-size="11px"
                    x="-15"
                    y="-4"
                    text-anchor="end"
                  >
                    vehicle_id
                  </text>
                  <text
                    class="label_order"
                    font-size="11px"
                    x="-15"
                    y="12"
                    text-anchor="end"
                  >
                    order_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.normal" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(70,30)">
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <rect
                    x="-58"
                    y="2"
                    width="45"
                    height="13"
                    rx="3"
                    ry="3"
                    fill="orange"
                    stroke="#ff8000"
                    stroke-width="1px"
                  ></rect>
                  <text
                    class="label"
                    font-size="11px"
                    x="-15"
                    y="-4"
                    text-anchor="end"
                  >
                    vehicle_id
                  </text>
                  <text
                    class="label_order"
                    font-size="11px"
                    x="-15"
                    y="12"
                    text-anchor="end"
                  >
                    order_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.hotlot" | translate }}
            </div>
          </div>
        </dd>

        <dt>{{ "names.directions" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(70,30)">
                  <line
                    class="next"
                    stroke="rgb(255, 220, 70)"
                    stroke-width="3"
                    x1="0"
                    y1="0"
                    x2="20"
                    y2="-20"
                  ></line>
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <text
                    class="label"
                    font-size="11px"
                    x="-15"
                    y="-4"
                    text-anchor="end"
                  >
                    vehicle_id
                  </text>
                  <text
                    class="label_order"
                    font-size="11px"
                    x="-15"
                    y="12"
                    text-anchor="end"
                  >
                    order_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.next" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(70,30)">
                  <line
                    class="command"
                    stroke="rgba(40, 180, 115, 0.3)"
                    stroke-width="3"
                    x1="0"
                    y1="0"
                    x2="20"
                    y2="-20"
                  ></line>
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <text
                    class="label"
                    font-size="11px"
                    x="-15"
                    y="-4"
                    text-anchor="end"
                  >
                    vehicle_id
                  </text>
                  <text
                    class="label_order"
                    font-size="11px"
                    x="-15"
                    y="12"
                    text-anchor="end"
                  >
                    order_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.pickUp" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="vehicle" transform="translate(70,30)">
                  <line
                    class="command"
                    stroke="rgba(65, 175, 250, 0.3)"
                    stroke-width="3"
                    x1="0"
                    y1="0"
                    x2="20"
                    y2="-20"
                  ></line>
                  <circle
                    class="outline"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(65, 65, 65)"
                    stroke-width="5"
                  ></circle>
                  <circle
                    class="vehicle_circle"
                    r="8"
                    cx="0"
                    cy="0"
                    fill="transparent"
                    stroke="rgb(95, 95, 95)"
                    stroke-width="3"
                  ></circle>
                  <text
                    class="label"
                    font-size="11px"
                    x="-15"
                    y="-4"
                    text-anchor="end"
                  >
                    vehicle_id
                  </text>
                  <text
                    class="label_order"
                    font-size="11px"
                    x="-15"
                    y="12"
                    text-anchor="end"
                  >
                    order_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.dropOff" | translate }}
            </div>
          </div>
        </dd>

        <dt>{{ "names.segment" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="segment">
                  <path
                    class="segment_path"
                    d="M10 30 L90 30"
                    stroke-width="2px"
                    stroke-dasharray="0,0"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="segment">
                  <path
                    class="segment_path"
                    d="M10 30 L90 30"
                    stroke-width="2px"
                    stroke-dasharray="0,0"
                  ></path>
                  <path
                    class="dir_triangle"
                    d="M0 0 m -2 -4 l 0 8 l 10 -4 Z"
                    transform="translate(50,30)"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="segment">
                  <path
                    class="segment_path disabled"
                    d="M10 30 L90 30"
                    stroke-width="2px"
                    stroke-dasharray="0,0"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.disabled" | translate }}
            </div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="segment">
                  <path
                    class="segment_path non_validate"
                    d="M10 30 L90 30"
                    stroke-width="2px"
                    stroke-dasharray="0,0"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption">
              {{ "names.validationError" | translate }}
            </div>
          </div>
        </dd>

        <dt>{{ "names.point" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="point" transform="translate(30,30)">
                  <circle
                    class="point_circle"
                    level="level1"
                    fill="rgb(80, 80, 80)"
                    r="2"
                    cx="0"
                    cy="0"
                  ></circle>
                  <text class="label" font-size="11px" x="20" y="5.5">
                    point_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
        </dd>

        <dt>{{ "names.station" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="station" transform="translate(50,30)">
                  <rect class="station_path" level="level1"></rect>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="station" transform="translate(50,30)">
                  <path
                    class="station_path"
                    level="level2"
                    d="m-10 -10 l20 0 l0 20 l-20 0 l0 -20 l1 0"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="station" transform="translate(30,28)">
                  <path
                    class="station_path"
                    level="level3"
                    d="m-14 -4.5 l0 -9 l9 0 m9 0 l9 0 l0 9 m0 9 l0 9 l-9 0 m-9 0 l-9 0 l0 -9 m0 -9z"
                  ></path>
                  <text
                    class="label"
                    font-size="11px"
                    x="19"
                    y="15"
                    text-anchor="start"
                  >
                    station_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
        </dd>

        <dt>{{ "names.buffer" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="buffer" transform="translate(50,30)">
                  <circle class="buffer_path" level="level1"></circle>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="buffer" transform="translate(50,30)">
                  <path
                    class="buffer_path"
                    level="level2"
                    d="m0 -10 a 10 10 0 0 1 0 20 a 10 10 0 0 1 0 -20"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="buffer" transform="translate(30,28)">
                  <path
                    class="buffer_path"
                    level="level3"
                    fill="black"
                    d="m-15 5 m5 -10 l-5 0 a10 10 0 0 1 10 -10 l0 5 a5 5 0 0 0 -5 5 l-5 0 m20 -5 l0 -5a 10 10 0 0 1 10 10 l-5 0 a5 5 0 0 0 -5 -5 l0 -5 m5 20 l5 0 a10 10 0 0 1 -10 10 l0 -5 a5 5 0 0 0 5 -5 l5 0 m-20 5 l0 5 a10 10 0 0 1 -10 -10 l5 0 a5 5 0 0 0 5 5 l0 5 z"
                  ></path>
                  <text
                    class="label"
                    font-size="11px"
                    x="19"
                    y="15"
                    text-anchor="start"
                  >
                    buffer_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
        </dd>

        <dt>{{ "names.mtl" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="mtl" transform="translate(50,30)">
                  <path
                    class="mtl_path"
                    level="level1"
                    d="m -2.5 -2.5 l 5 0 l -5 5 l 5 0 l -5 -5 z"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="mtl" transform="translate(50,30)">
                  <path
                    class="mtl_path"
                    level="level2"
                    d="m-10 10 l5 -10 l-5 -10 l20 0 l-5 10 l5 10"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="mtl" transform="translate(30,28)">
                  <path
                    class="mtl_path"
                    level="level3"
                    fill="black"
                    d="m-13.5 13.5 l4.5 -4.5 l-4.5 -4.5 l4.5 -4.5 l-4.5 -4.5 l4.5 -4.5 l-4.5 -4.5 l27 0 l-4.5 4.5 l4.5 4.5 l-4.5 4.5 l4.5 4.5 l-4.5 4.5 l4.5 4.5 m-22.5 -22.5 l18 0"
                  ></path>
                  <text
                    class="label"
                    font-size="11px"
                    x="19"
                    y="15"
                    text-anchor="start"
                  >
                    mtl_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
        </dd>

        <dt>{{ "names.zcu" | translate }}</dt>
        <dd>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="zcu" transform="translate(50,30)">
                  <path
                    class="zcu_path"
                    level="level1"
                    d="M-3,0 L0,-3 L3,0 L0,3 L-3,0 z"
                    fill="none"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="zcu" transform="translate(50,30)">
                  <path
                    class="zcu_path"
                    level="level2"
                    d="M-12,0 L0,-12 L12,0 L0,12 L-12,0 z"
                    fill="none"
                  ></path>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
          <div class="legend-item">
            <div class="legend-icon">
              <svg>
                <g class="zcu" transform="translate(30,28)">
                  <path
                    class="zcu_path"
                    level="level3"
                    fill="none"
                    d="M-16,0 L0,-16 L16,0 L0,16 L-16,0 z"
                  ></path>
                  <text
                    class="label"
                    font-size="11px"
                    x="19"
                    y="15"
                    text-anchor="start"
                  >
                    zcu_id
                  </text>
                </g>
              </svg>
            </div>
            <div class="legend-caption"></div>
          </div>
        </dd>
      </dl>
    </div>
  </ng-container>
</oms-dialog-base>
