<mat-list>
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Center Zoom"
  >
    <mat-icon>center_focus_strong</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Search"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item active"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Track Vehicle"
  >
    <mat-icon>location_on</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Show Objects"
  >
    <mat-icon>flip_to_front</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Show Mini map"
  >
    <mat-icon>map</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Manual Order (Command)"
  >
    <mat-icon>tune</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Show Control Table"
  >
    <mat-icon>window</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Get All Vehicle Status"
  >
    <mat-icon>motion_photos_on</mat-icon>
  </button>

  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Set Auto All Vehicle"
  >
    <mat-icon fontSet="material-icons-outlined">hdr_auto</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Reset All Vehicle"
  >
    <mat-icon>settings_backup_restore</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Stop All Vehicle"
  >
    <mat-icon fontSet="material-icons-outlined">stop_circle</mat-icon>
  </button>
</mat-list>
