@import 'variables';

:host {
  // display: flex;
  // flex-direction: column;
  padding: 0;
  background-color: #f5f5f5;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tool-item {
  width: 36px;
  height: 34px;
  min-width: 36px;
  padding: 0;
  // margin-bottom: 5px;
  border-radius: 0;

  // &:last-child {
  //   margin-bottom: 0;
  // }
  .mat-icon {
    font-size: 20px;
  }
}
.mat-list {
  padding: 8px 0px;
}
mat-divider {
  margin-bottom: 5px;
  margin-top: 5px;
}

::ng-deep.mat-tooltip.snb-tooltip {
  @include tooltip;
}
