:host {
  display: block;
  width: 100%;
}

.role-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  padding: 8px;
}

.mat-list-item.active {
  background-color: var(--button-active-color);
  font-weight: bold;
}
