:host {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

fieldset {
  padding: 16px;
  max-height: 80vh;
  overflow: auto;
  margin-right: 16px;
}
#process-list {
  width: 100%;

  th, td {
    text-align: center;
  }

  th {
    height: 30px;
  }

  td {
    height: 30px;
  }

  button {
    margin: 0 4px;
    min-width: 100px;
  }
}

[hidden] {
  display: none !important;
}
