#zcu-status-container {
  position: relative;
  display: grid;
  grid-template-columns: 12vw;
  min-height: 44px;
  grid-template-rows: 1fr auto;
  gap: 4px;
  margin: 4px;
  padding: 4px;
  cursor: move;

  .title{
    position: absolute;
    font-weight: 750;
    top: -0.8vh;
    left: 0.8vw;
    width: fit-content;
    padding: 0 4px 0;
    font-size: calc(1vw + 0.5vmin);
  }

  .white-space{
    position: absolute;
    height: 0.6vh;
    top: 0.4vh;
    left: 0.8vw;
    width: 7vw;
    background: #eaeaea;
  }
  .area{
    border: rgba(154, 154, 154, 0.8) 2px solid;
    border-radius: 4px;
    padding: 8px;
    background: #eaeaea;
  }
  .data {
    font-size: calc(0.8vw + 0.3vmin);
    font-weight: 650;
    color: #3d3d3d;
    text-align: left;
    margin-left: 12px;
  }

  .semi-data {
    font-size: calc(0.6vw + 0.2vmin);
    font-weight: 400;
    color: #3d3d3d;
    text-align: left;
    margin-left: 12px;
  }
  .mb-4{
    margin-bottom: 4px;
  }
  .mt-4{
    margin-top: 0.3vw;
  }

  .lt{
    letter-spacing: -0.1vw;
  }
  
  .dash-line{
    border-top: 1px black dashed;
  }
}

