<oms-dialog-base [title]="'names.bulkAddUser' | translate">
  <ng-container class="dialog-layout">
    <div mat-dialog-content>
      <input type="file" id="uploadFiles" #uploadFiles name="CSV File Upload" (change)="fileChangeListner($event)"
        accept=".csv" />
      <div>
        <mat-label>&nbsp;</mat-label>
      </div>
      <div>
        <mat-label>{{ csvValidationMessages }}</mat-label>
      </div>
    </div>

    <div mat-dialog-actions>
      <button type="submit" mat-raised-button color="primary" (click)="importToGrid()">
        {{ "names.save" | translate }}
      </button>
      <button type="button" mat-raised-button mat-dialog-close>
        {{ "names.cancel" | translate }}
      </button>
    </div>
  </ng-container>
</oms-dialog-base>
