<oms-dialog-base [title]="'names.rolesSetting' | translate">
  <ng-container class="dialog-layout">
    <div mat-dialog-content class="role-panel">
      <h5 class="title-roles">{{ "names.roles" | translate }}</h5>
      <h5 class="title-permissions">{{ "names.permissions" | translate }}</h5>

      <mat-nav-list class="dense role-list">
        <a mat-list-item *ngFor="let item of filteredRoles" [class.active]="selectedRole?.id === item.id"
          (click)="onSelectRole(item)">
          {{ item.name }}
        </a>
        <a mat-list-item *ngFor="let item of candidates" [class.active]="selectedRole?.name === item.name"
          (click)="onSelectRole(item)">
          {{ item.name }}
        </a>
        <div [hidden]="!addingMode">
          <div class="add-role-form">
            <input #newRoleName name="roleName" class="new-role-name" matInput
              (keyup.enter)="onEnterRoleName(newRoleName.value)" />
            <div class="icon-btn" (click)="onCancelAdd()">
              <mat-icon>highlight_off</mat-icon>
            </div>
          </div>
        </div>
      </mat-nav-list>
      <mat-selection-list #permissionList class="dense permission-list"
        (selectionChange)="onPermissionChange(permissionList.selectedOptions.selected)">
        <mat-list-option checkboxPosition="before" color="primary" [disabled]="addingMode || !selectedRole"
          [selected]="hasPermission(item)" *ngFor="let item of permissions" [value]="item.id">
          {{ "enums.permissions." + item.id | translate }}
        </mat-list-option>
      </mat-selection-list>

      <div class="full-span-col"></div>
    </div>
    <div class="mat-dialog-actions">
      <div class="secondary-actions">
        <button mat-stroked-button class="dense" (click)="onAddRole()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-stroked-button [disabled]="addingMode" class="dense" (click)="onRemoveRole()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <div class="primary-actions">
        <button mat-raised-button class="dense" color="primary" (click)="onSave()">
          {{ "names.save" | translate }}
        </button>
        <button mat-raised-button class="dense" mat-dialog-close>
          {{ "names.cancel" | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</oms-dialog-base>
