<oms-dialog-base [title]="'names.settings' | translate">
  <div class="dialog-layout">
    <mat-drawer-container class="settings-container" autosize>
      <mat-drawer #drawer class="settings-sidenav" mode="side" opened>
        <mat-nav-list>
          <a
            *ngIf="auth.hasPermissions([31])"
            mat-list-item
            [class.active]="isActiveMenu('preference')"
            (click)="onChangeMenu('preference')"
            class="nav-link">{{ "names.preference" | translate }}
          </a>
          <a
            *ngIf="auth.hasPermissions([30])"
            mat-list-item
            [class.active]="isActiveMenu('users')"
            (click)="onChangeMenu('users')"
            class="nav-link">{{ "names.userManagement" | translate }}
          </a>

          <mat-divider class="nav-divider"></mat-divider>

          <a
            *ngIf="auth.hasPermissions([32])"
            mat-list-item
            [class.active]="isActiveMenu('group')"
            (click)="onChangeMenu('group')"
            class="nav-link">{{ "names.group" | translate }}
          </a>
          <a
            *ngIf="auth.hasPermissions([33])"
            mat-list-item
            [class.active]="isActiveMenu('cluster')"
            (click)="onChangeMenu('cluster')"
            class="nav-link">{{ "names.cluster" | translate }}
          </a>
          <a
            *ngIf="auth.hasPermissions([34])"
            mat-list-item
            [class.active]="isActiveMenu('alarm')"
            (click)="onChangeMenu('alarm')"
            class="nav-link">{{ "names.alarmList" | translate }}
          </a>
          <a
            *ngIf="auth.hasPermissions([35])"
            mat-list-item
            [class.active]="isActiveMenu('segment')"
            (click)="onChangeMenu('segment')"
            class="nav-link">{{ "names.segment" | translate }}
          </a>
          <!--
          <a
            *ngIf="auth.hasPermissions([36])"
            mat-list-item
            [class.active]="isActiveMenu('point')"
            (click)="onChangeMenu('point')"
            class="nav-link">{{ "names.node" | translate }}
          </a>
          -->
          <a
            *ngIf="auth.hasPermissions([38])"
            mat-list-item
            [class.active]="isActiveMenu('station')"
            (click)="onChangeMenu('station')"
            class="nav-link">{{ "names.station" | translate }}
          </a>
          <a
            *ngIf="auth.hasPermissions([39])"
            mat-list-item
            [class.active]="isActiveMenu('buffer')"
            (click)="onChangeMenu('buffer')"
            class="nav-link">{{ "names.buffer" | translate }}
          </a>
          <a
            *ngIf="auth.hasPermissions([37])"
            mat-list-item
            [class.active]="isActiveMenu('zcu')"
            (click)="onChangeMenu('zcu')"
            class="nav-link">{{ "names.zcu" | translate }}
          </a>
          <!-- <a
            mat-list-item
            routerLinkActive="active"
            [routerLink]="[
              'settings',
              { outlets: { sub: ['tracks', 'buffer'] } }
            ]"
            class="nav-link"
            >{{ "names.buffer" | translate }}</a
          > -->
          <!-- <a
            mat-list-item
            routerLinkActive="active"
            [routerLink]="[
              'settings',
              { outlets: { sub: ['tracks', 'blockzone'] } }
            ]"
            class="nav-link"
            >{{ "names.blockZone" | translate }}</a
          > -->
        </mat-nav-list>
      </mat-drawer>

      <div class="settings-content">
        <!-- <router-outlet name="sub"></router-outlet> -->
        <ng-container [ngSwitch]="currentMenu">
          <ng-container *ngSwitchCase="'users'">
            <oms-user-management></oms-user-management>
          </ng-container>
          <ng-container *ngSwitchCase="'preference'">
            <oms-preferences></oms-preferences>
          </ng-container>
          <ng-container *ngSwitchCase="'group'">
            <oms-group-setting></oms-group-setting>
          </ng-container>
          <ng-container *ngSwitchCase="'cluster'">
            <oms-cluster-setting></oms-cluster-setting>
          </ng-container>
          <ng-container *ngSwitchCase="'alarm'">
            <oms-alarm-setting></oms-alarm-setting>
          </ng-container>
          <ng-container *ngSwitchCase="'segment'">
            <oms-segment-setting></oms-segment-setting>
          </ng-container>
          <ng-container *ngSwitchCase="'point'">
            <oms-node-setting></oms-node-setting>
          </ng-container>
          <ng-container *ngSwitchCase="'station'">
            <oms-station-setting></oms-station-setting>
          </ng-container>
          <ng-container *ngSwitchCase="'zcu'">
            <oms-zcu-setting></oms-zcu-setting>
          </ng-container>
          <ng-container *ngSwitchCase="'buffer'">
            <oms-buffer-setting></oms-buffer-setting>
          </ng-container>
          <div *ngSwitchDefault></div>
        </ng-container>
      </div>
    </mat-drawer-container>
  </div>
</oms-dialog-base>
