#abnormal-tr-report-page {
  background-color: var(--panel-background-color);
  display: grid;
  grid-template-rows: 40px auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 44px;
  gap: 4px;
  height: 100%;
}

#filter-area {
  padding: 4px 10px;
  display: grid;
  grid-template-columns: 210px 10px 210px 120px;
  justify-items: center;
  align-items: center;
  gap: 4px;
}

#filter-area button {
  justify-self: normal;
  align-self: normal;
}


#filter-area .dx-datebox {
}

.table-summary {
  width: 100%;
  background-color: #ffffff;
  border: none;

  td {
    width: 33%;
    border: none;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
  }

  td.firstTD {
    width: 44%;
  }

  td.secondTD {
    width: 26%;
    padding-left: 0px;
    padding-right: 0px;
  }

  td.thirdTD {
    width: 26%;
  }

  .chart {
    width: 95%;
    //height: 300px;
    height: 250px;
    //padding-left: 10px;
  }

  .table-summary-period {
    width: 100%;
    //border: 1px solid var(--dialog-border-color);
    border: none;

    td {
      //width: 100%;
      //border: 1px solid var(--dialog-border-color);
      border: none;
      text-align: center;
    }
  }
}

.table-total-summary {
  width: 100%;
  border: 1px solid var(--dialog-border-color);

  td {
    width: 10%;
    border: 1px solid var(--dialog-border-color);
    text-align: center;
    font-size: 13px;
    vertical-align: middle;
  }
}



#grid-container {
  //padding: 10px 10px;
  padding: 0px 0px;
}

#grid-container-abnormalTRbyPeriod {
  width: 100%;
  //padding: 5px 5px;
  padding: 0px 0px;
}

#grid-container-abnormalTRbyVehicle {
  width: 100%;
  //padding: 5px 5px;
  padding: 0px 0px;
}

#grid-container-abnormalTRbySource {
  width: 100%;
  //padding: 5px 5px;
  padding: 0px 0px;
}

#grid-container-abnormalTRbyDest {
  width: 100%;
  //padding: 5px 5px;
  padding: 0px 0px;
}

#chartAbnormalTRbyPeriod {
  //height: 300px;
  height: 250px;
  padding: 5px 5px 5px 5px;
  //border: 1px solid var(--dialog-border-color);
  border: 1px solid var(--dialog-border-color);
}

#chartAbnormalTRbyVehicle {
  margin-left: 30px;
  margin-right: 30px;
  //height: 200px;
  height: 180px;
  padding: 5px 5px 5px 5px;
  //border: 1px solid var(--dialog-border-color);
  border: 1px solid var(--dialog-border-color);
}

#chartAbnormalTRbySource {
  margin-left: 30px;
  margin-right: 30px;
  //height: 200px;
  height: 180px;
  padding: 5px 5px 5px 5px;
  //border: 1px solid var(--dialog-border-color);
  border: 1px solid var(--dialog-border-color);
}

#chartAbnormalTRbyDest {
  margin-left: 30px;
  margin-right: 30px;
  //height: 200px;
  height: 180px;
  padding: 5px 5px 5px 5px;
  //border: 1px solid var(--dialog-border-color);
  border: 1px solid var(--dialog-border-color);
}
