<div class="grid-actions" *ngIf="hasControlAccess">
  <button mat-stroked-button
          color="primary"
          class="dense accent"
          [disabled]="!canDelete"
          (click)="onDelete()">
    {{ "names.delete" | translate }}
  </button>
</div>

<dx-data-grid [dataSource]="dataSource"
              [remoteOperations]="true"
              [height]="tableHeight"
              [repaintChangesOnly]="false"
              [columnAutoWidth]="false"
              [showBorders]="false"
              [highlightChanges]="true"
              [showColumnLines]="true"
              [showRowLines]="true"
              [hoverStateEnabled]="true"
              [(selectedRowKeys)]="selectedRows"
              [headerFilter]="false"
              [renderAsync]="true">
  <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
  <dxo-scrolling mode="virtual" rowRenderingMode="standard"></dxo-scrolling>
  <dxo-paging [pageSize]="50"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"
             [allowedPageSizes]="[50, 100, 200]"
             [showInfo]="true"
             visible="true"></dxo-pager>
  <dxo-search-panel [placeholder]="'names.search' | translate"
                    [visible]="true"></dxo-search-panel>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    [width]="50"
    dataType="string"
    dataField="id"
    [caption]="'names.id' | translate"
  ></dxi-column>
  <!-- Logical ID 추가 -->
  <dxi-column
    [width]="100"
    dataType="string"
    dataField="logicalId"
    [caption]="'names.logicalId' | translate"
  ></dxi-column>
  <!-- Logical ID 추가 -->
  <dxi-column
    [width]="70"
    dataType="string"
    dataField="state"
    [caption]="'names.state' | translate"
  ></dxi-column>
  <dxi-column
    [width]="70"
    dataType="string"
    dataField="vehicleId"
    [caption]="'names.vehicleId' | translate"
  ></dxi-column>
  <!--[customizeText]="transformVehicleId"-->
  <dxi-column
    [width]="70"
    dataType="string"
    dataField="locationPickup"
    [caption]="'names.locationPickup' | translate"
    [customizeText]="transformLocationId"
  ></dxi-column>
  <dxi-column
    [width]="80"
    dataType="string"
    dataField="locationDropoff"
    [caption]="'names.locationDropoff' | translate"
    [customizeText]="transformLocationId"
  ></dxi-column>
  <!-- LocationMove 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="70"
    dataType="string"
    dataField="locationMove"
    [allowSorting]="false"
    [caption]="'names.locationMove' | translate"
  ></dxi-column>
  <!-- LocationMove 추가 -->
  <dxi-column
    [width]="80"
    dataType="string"
    dataField="priority"
    [caption]="'names.priority' | translate"
  ></dxi-column>
  <dxi-column
    [width]="80"
    dataType="string"
    dataField="carrierLabel"
    [allowSorting]="false"
    [caption]="'names.carrierLabel' | translate"
  ></dxi-column>
  <dxi-column
    [width]="110"
    dataType="datetime"
    dataField="timeCreated"
    [caption]="'names.timeCreated' | translate"
    sortOrder="desc"
  ></dxi-column>
  <dxi-column
    [width]="110"
    dataType="datetime"
    dataField="timeAssigned"
    [caption]="'names.timeAssigned' | translate"
    sortOrder="desc"
  ></dxi-column>
  <!-- Origin 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="70"
    dataType="string"
    dataField="origin"
    [allowSorting]="true"
    [caption]="'names.origin' | translate"
  ></dxi-column>
  <!-- Origin 추가 -->
  <!-- DurationTotal 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="durationTotal"
    [allowSorting]="true"
    [caption]="'names.durationTotal' | translate"
  ></dxi-column>  
  <!-- DurationTotal 추가 -->
  <!-- DurationUnassigned 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="durationUnassigned"
    [allowSorting]="true"
    [caption]="'names.durationUnassigned' | translate"
  ></dxi-column>  
  <!-- DurationUnassigned 추가 -->
  <!-- DurationPickup 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="durationPickup"
    [allowSorting]="true"
    [caption]="'names.durationPickup' | translate"
  ></dxi-column>  
  <!-- DurationPickup 추가 -->
  <!-- DurationLoad 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="durationLoad"
    [allowSorting]="true"
    [caption]="'names.durationLoad' | translate"
  ></dxi-column>  
  <!-- DurationLoad 추가 -->
  <!-- DurationDropoff 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="durationDropoff"
    [allowSorting]="true"
    [caption]="'names.durationDropoff' | translate"
  ></dxi-column>  
  <!-- DurationDropoff 추가 -->
  <!-- DurationUnload 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="durationUnload"
    [allowSorting]="true"
    [caption]="'names.durationUnload' | translate"
  ></dxi-column>  
  <!-- DurationUnload 추가 -->
  <!-- DurationMove 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="durationMove"
    [allowSorting]="true"
    [caption]="'names.durationMove' | translate"
  ></dxi-column>  
  <!-- DurationMove 추가 -->
  <!-- DistancePickup 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="distancePickup"
    [allowSorting]="true"
    [caption]="'names.distancePickup' | translate"
  ></dxi-column>  
  <!-- DistancePickup 추가 -->
  <!-- DistanceDropoff 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="distanceDropoff"
    [allowSorting]="true"
    [caption]="'names.distanceDropoff' | translate"
  ></dxi-column>  
  <!-- DistanceDropoff 추가 -->
  <!-- DistanceMove 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="distanceMove"
    [allowSorting]="true"
    [caption]="'names.distanceMove' | translate"
  ></dxi-column>  
  <!-- DistanceMove 추가 -->  
  <!-- AssignmentType 추가 -->
  <dxi-column
    [allowFiltering]="true"
    [width]="80"
    dataType="string"
    dataField="assignmentType"
    [allowSorting]="true"
    [caption]="'names.lastReassignType' | translate"
  ></dxi-column>
  <!-- AssignmentType 추가 -->
</dx-data-grid>
