<div class="grid-actions" *ngIf="canControl">
  <button
    mat-stroked-button
    color="primary"
    class="dense accent"
    [disabled]="!canDelete"
    (click)="onDelete()"
  >
    {{ "names.delete" | translate }}
  </button>
</div>

<dx-data-grid
  [dataSource]="dataSource"
  [remoteOperations]="true"
  [height]="tableHeight"
  [repaintChangesOnly]="true"
  [columnAutoWidth]="true"
  [showBorders]="false"
  [highlightChanges]="false"
  [showColumnLines]="true"
  [showRowLines]="true"
  [hoverStateEnabled]="true"
  [(selectedRowKeys)]="selectedRows"
  [headerFilter]="false"
>
  <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-paging [pageSize]="50"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[50, 100, 200]"
    [showInfo]="true"
    visible="true"
  ></dxo-pager>
  <dxo-search-panel
    [placeholder]="'names.search' | translate"
    [visible]="true"
  ></dxo-search-panel>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>

  <dxi-column
    [width]="80"
    dataType="string"
    dataField="id"
    sortOrder="desc"
    [caption]="'names.id' | translate"
  ></dxi-column>
  <dxi-column
    [width]="100"
    dataType="string"
    dataField="state"
    [caption]="'names.state' | translate"
  ></dxi-column>
  <dxi-column
    [width]="80"
    dataType="string"
    dataField="vehicleId"
    [caption]="'names.vehicleId' | translate"
    [customizeText]="transformVehicleId"
  ></dxi-column>
  <dxi-column
    [width]="120"
    dataType="string"
    dataField="locationPickup"
    [caption]="'names.locationPickup' | translate"
    [customizeText]="transformLocationId"
  ></dxi-column>
  <dxi-column
    [width]="120"
    dataType="string"
    dataField="locationDropoff"
    [caption]="'names.locationDropoff' | translate"
    [customizeText]="transformLocationId"
  ></dxi-column>
  <dxi-column
    [width]="80"
    dataType="string"
    dataField="priority"
    [caption]="'names.priority' | translate"
  ></dxi-column>
  <dxi-column
    dataType="string"
    dataField="carrierLabel"
    [allowSorting]="false"
    [caption]="'names.carrierLabel' | translate"
  ></dxi-column>
  <dxi-column
    [width]="120"
    dataType="datetime"
    dataField="timeCreated"
    [caption]="'names.timeCreated' | translate"
  ></dxi-column>
  <dxi-column
    [width]="120"
    dataType="datetime"
    dataField="timeAssigned"
    [caption]="'names.timeAssigned' | translate"
  ></dxi-column>
</dx-data-grid>
