<div class="grid-actions" *ngIf="hasControlAccess">
  <button *ngIf="hasPermission(permissionEnums.EstopVehicle)" mat-stroked-button color="warn" class="dense accent"
          [disabled]="!canControl" (click)="onEStop()">
    {{ "names.estop" | translate }}
  </button>
  <button *ngIf="hasPermission(permissionEnums.ResetVehicle)" mat-stroked-button color="primary" class="dense accent"
          [disabled]="!canControl" (click)="onReset()">
    {{ "names.reset" | translate }}
  </button>
  <button *ngIf="hasPermission(permissionEnums.AutoVehicle)" mat-stroked-button color="primary" class="dense accent"
          [disabled]="!canControl" (click)="onSetAuto()">
    {{ "names.auto" | translate }}
  </button>
  <button *ngIf="hasPermission(permissionEnums.HostOrderEnable)" mat-stroked-button color="primary" class="dense"
          [disabled]="!canControl" (click)="onChangeHostOrderActivity()">
    {{ "names.hostOrderDisable" | translate }}
  </button>
  <button *ngIf="hasPermission(permissionEnums.PushEnable)" mat-stroked-button color="primary" class="dense"
          [disabled]="!canControl" (click)="onChangePushActivity()">
    {{ "names.pushDisable" | translate }}
  </button>
  <button *ngIf="hasPermission(permissionEnums.RailIn)" mat-stroked-button color="primary" class="dense"
          [disabled]="!canControl" (click)="onRailIn()">
    {{ "names.railIn" | translate }}
  </button>
  <button *ngIf="hasPermission(permissionEnums.RailOut)" mat-stroked-button color="primary" class="dense"
          [disabled]="!canControl" (click)="onRailOut()">
    {{ "names.railOut" | translate }}
  </button>
</div>

<dx-data-grid [dataSource]="dataSource" [remoteOperations]="true" [height]="tableHeight" [repaintChangesOnly]="false"
              [columnAutoWidth]="false" [showBorders]="false" [highlightChanges]="false" [showColumnLines]="true"
              [showRowLines]="true" [headerFilter]="false" [(selectedRowKeys)]="selectedRows">
  <dxo-scrolling mode="virtual" rowRenderingMode="standard"></dxo-scrolling>
  <dxo-paging [pageSize]="50"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[50, 100, 200]" [showInfo]="true" visible="true">
  </dxo-pager>
  <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
  <dxo-search-panel [placeholder]="'names.search' | translate" [visible]="true"></dxo-search-panel>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column [allowFiltering]="true" [width]="60" dataType="string" dataField="id" sortOrder="desc"
              [caption]="'names.id' | translate" *ngIf="canDisplayTable('vehicles_id')"></dxi-column>
  <dxi-column [width]="80" dataType="string" dataField="physicalId"
              [caption]="'names.physicalId' | translate" *ngIf="canDisplayTable('vehicles_physicalId')"></dxi-column>
  <dxi-column [width]="90" dataType="string" dataField="logicalId"
              [caption]="'names.logicalId' | translate" *ngIf="canDisplayTable('vehicles_logicalId')"></dxi-column>
  <dxi-column [allowFiltering]="false" [width]="60" dataType="boolean" dataField="isConnected"
              [caption]="'names.connected' | translate" *ngIf="canDisplayTable('vehicles_connection')"></dxi-column>
  <dxi-column [allowFiltering]="false" [width]="60" dataType="boolean" dataField="railIn"
              [caption]="'names.railIn' | translate" *ngIf="canDisplayTable('vehicles_railIn')"></dxi-column>
  <dxi-column [width]="60" dataType="string" dataField="mode"
              [caption]="'names.mode' | translate" *ngIf="canDisplayTable('vehicles_mode')"></dxi-column>
  <dxi-column [allowFiltering]="false" [width]="80" dataType="boolean" dataField="isMaint"
              [caption]="'names.maintenance' | translate" *ngIf="canDisplayTable('vehicles_isMaint')"></dxi-column>
  <dxi-column [allowFiltering]="false" [width]="60" dataType="boolean" dataField="canBePushed"
              [caption]="'names.canBePushed' | translate" *ngIf="canDisplayTable('vehicles_canBePushed')"></dxi-column>
  <dxi-column [allowFiltering]="false" [width]="60" dataType="boolean" dataField="hostOrder"
              [caption]="'names.hostOrder' | translate" *ngIf="canDisplayTable('vehicles_hostOrder')"></dxi-column>
  <dxi-column [allowFiltering]="false" [width]="60" dataType="string" dataField="orderOrigin"
              [caption]="'names.orderOrigin' | translate" *ngIf="canDisplayTable('vehicles_orderOrigin')"></dxi-column>
  <dxi-column [width]="60" dataType="string" dataField="groupId" [caption]="'names.group' | translate"
              *ngIf="canDisplayTable('vehicles_group')"></dxi-column>
  <dxi-column [width]="60" dataType="string" dataField="curPoint" [caption]="'names.curPoint' | translate"
              *ngIf="canDisplayTable('vehicles_curPoint')"></dxi-column>
  <dxi-column [width]="60" dataType="string" dataField="commandPoint" [allowSorting]="false"
              [caption]="'names.commandPoint' | translate" *ngIf="canDisplayTable('vehicles_commandPoint')"></dxi-column>
  <dxi-column [width]="60" dataType="string" dataField="orderId" [allowSorting]="false"
              [caption]="'names.orderId' | translate" *ngIf="canDisplayTable('vehicles_orderId')"></dxi-column>
  <dxi-column [width]="60" dataType="string" dataField="locationPickup" [caption]="'names.locationPickup' | translate"
              *ngIf="canDisplayTable('vehicles_locationPickup')"></dxi-column>
  <dxi-column [width]="60" dataType="string" dataField="locationDropoff" [caption]="'names.locationDropoff' | translate"
              *ngIf="canDisplayTable('vehicles_locationDropoff')"></dxi-column>
  <!-- LocationMove 추가 -->
  <dxi-column [allowFiltering]="true" [width]="60" dataType="string" dataField="locationMove" [allowSorting]="true"
              [caption]="'names.locationMove' | translate" *ngIf="canDisplayTable('vehicles_locationMove')"></dxi-column>
  <!-- LocationMove 추가 -->
  <!-- Total Runtime 추가 -->
  <dxi-column [allowFiltering]="true" [width]="80" dataType="string" dataField="runtimeTotal" [allowSorting]="true"
              [caption]="'names.runtimeTotal' | translate" *ngIf="canDisplayTable('vehicles_runtimeTotal')"></dxi-column>
  <!-- Total Runtime 추가 -->
  <dxi-column [width]="80" dataType="string" dataField="movingState" [allowSorting]="false"
              [caption]="'names.movingState' | translate" *ngIf="canDisplayTable('vehicles_movingState')"></dxi-column>
  <dxi-column [width]="80" dataType="string" dataField="cargoState" [allowSorting]="false"
              [caption]="'names.cargoState' | translate" *ngIf="canDisplayTable('vehicles_cargoState')"></dxi-column>
  <!-- Error 추가 -->
  <dxi-column [allowFiltering]="true" [width]="70" dataType="string" dataField="errorList" [allowSorting]="true"
              [caption]="'names.error' | translate" *ngIf="canDisplayTable('vehicles_error')"></dxi-column>
  <!-- Error  추가 -->
  <!-- Sensor Stop 추가 -->
  <dxi-column [allowFiltering]="false" [width]="80" dataType="boolean" dataField="isSensorStopped"
              [allowSorting]="false" [caption]="'names.sensorStopped' | translate"
              *ngIf="canDisplayTable('vehicles_sensorStopped')"></dxi-column>
  <!-- Sensor Stop  추가 -->
  <!-- Blocked 추가 -->
  <dxi-column [allowFiltering]="false" [width]="80" dataType="boolean" dataField="isBlocked" [allowSorting]="false"
              [caption]="'names.blocked' | translate" *ngIf="canDisplayTable('vehicles_blocked')"></dxi-column>
  <!-- Blocked 추가 -->
  <dxi-column [allowFiltering]="true" [width]="80" dataType="number" dataField="distanceTotal" [allowSorting]="true"
              [caption]="'names.distanceTotal' | translate" *ngIf="canDisplayTable('vehicles_distanceTotal')"></dxi-column>
  <!-- MapDB 추가 -->
  <dxi-column [allowFiltering]="true" [width]="90" dataType="string" dataField="mapDb" [allowSorting]="true"
              [caption]="'names.mapDb' | translate" *ngIf="canDisplayTable('vehicles_mapDb')"></dxi-column>
  <!-- MapDB 추가 -->
</dx-data-grid>
