.container {
  overflow-y: hidden;
}

.dialog-header {
  display: flex;
  flex-direction: row;

  button {
    margin-left: 15px;
    width: 10em;
  }
}

.status-dio-columns {
  display: flex;
  flex-direction: row;

  .column {
    flex: 1;
    height: 470px;
  }

  .dio-fieldsets {
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  h4 {
    text-align: center;
  }
}

.dio-toggle-section {
  margin-top: 10px;
}

.detail-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  font-size: 12px;
  row-gap: 4px;
  column-gap: 4px;

  label.name {
    font-weight: bold;
    background-color: var(--details-background-color);
    text-align: right;
    padding: 4px 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .value {
    padding: 4px 8px;
    border-bottom: 1px solid var(--details-background-color);
  }
}

.status-grid {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 12px;
  row-gap: 4px;

  .status-item {
    background-color: var(--theme-color-inactive);
    padding: 4px 16px;
    border-radius: 8px;
    font-weight: bold;

    &.active {
      background-color: var(--theme-accent-color);
    }
  }
}


.pio-trend-table {
  width: calc(100% - 20px);
  margin-top: 10px;

  td {
    width: 580px;
  }
}

.pattern-legend {
  margin-top: 15px;

  font-size: x-small;

  .item {
    margin-right: 3px;
  }
}


svg {
  margin-right: 0px;
}
