/* 
  Follow Conventions on TailwindCSS
  https://tailwindcss.com/
*/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.overflow-visible {
  overflow: visible;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
