:host {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

fieldset {
  padding: 16px;
}
#process-list {
  width: 100%;

  th, td {
    text-align: center;
  }

  button {
    margin: 0 4px;
    min-width: 100px;
  }
}
