
.table-columns-entries-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-columns-sub-entries-container {
  margin: 2px 0px 2px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //justify-content: start;
}

.table-format > div.table-columns-entries-container {
  border-bottom: 2px solid var(--theme-border-color);
  margin-right: 25px;

  mat-label {
    font-size: 13px;
    font-weight: bold;
    margin-right: 8px;
  }
}

.table-columns-sub-container {
  margin-right: 25px;

  mat-label {
    padding-left: 5px;
    font-size: 12px;
    font-weight: normal;
    margin-right: 8px;
    vertical-align: baseline;
    width: 25%;
  }

  svg {
    visibility: hidden;
    margin-right: 5px;
    border-radius: 3px;
  }
}

.table-columns-sub-container:hover {
  background-color: rgba(98, 98, 98, 0.25);
}
.table-columns-sub-container:hover svg {
  visibility: visible;
}
.table-columns-sub-container:hover svg:hover {
  background-color: rgba(98, 98, 98, 0.5);
}
