:host {
  display: flex;
  flex-direction: column;
}

fieldset {
  margin-top: 12px;
}

label {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  padding: 4px 8px;
}

.chain-button {
  margin-top: 1em;
}

.mileage-reset-button {
  margin-top: 1em;
}

.vehicle-list-grid {
  margin-top: 1em;
  margin-left: 2em;
}

