:host {
  display: flex;
  flex-direction: column;
}

fieldset {
  margin-top: 8px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.form-item {
  &.station {
    grid-column-start: 1;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.theme-selector {
  width: 240px;
  margin-right: 8px;
}

.vehicle-examples-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vehicle-example {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicle-example span {
  margin: 5px;
  font-style: oblique;
  font-size: 0.8em;
  text-align: center;
}
