:host {
  width: calc(100vw - 50px);
  height: calc(100vh - 30px);
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0px;
  font-size: 14px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-left: 2px;
  font-size: 5px;
  margin-bottom: 2px;
}

.label-form {
  width: 30%;
}

.expected {
  background-color: rgba($color: #b8b8b8, $alpha: 0.3);
}
