<mat-list mdePopoverTarget #popoverTarget="mdePopoverTarget">
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.centerZoom' | translate"
    (click)="onCommandTool('centerZoom')"
  >
    <mat-icon>center_focus_strong</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <button
    #btnSearch
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.search' | translate"
    (click)="onSearch()"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    #btnTrack
    matListItem
    mat-button
    class="tool-item"
    [class.active]="isTracking"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.trackVehicle' | translate"
    (click)="onTrackVehicle()"
  >
    <mat-icon>location_on</mat-icon>
  </button>
  <button
    #btnShowObj
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.showObjects' | translate"
    (click)="onTuneVisibility()"
  >
    <mat-icon>visibility</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    [class.active]="buttonState.minimap"
    (click)="onToggleTool('minimap')"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.showMinimap' | translate"
  >
    <mat-icon>map</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <button
    #btnCommand
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.manualOrder' | translate"
    (click)="onManualCommand()"
  >
    <mat-icon>post_add</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    [class.active]="buttonState.controlTable"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.showControlTable' | translate"
    (click)="onToggleTool('controlTable')"
  >
    <mat-icon>window</mat-icon>
  </button>

  <button
    *ngIf="canControl"
    matListItem
    mat-button
    class="tool-item"
    [class.active]="buttonState.itemDetails"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.itemDetails' | translate"
    (click)="onToggleTool('itemDetails')"
  >
    <mat-icon fontSet="material-icons-outlined">info</mat-icon>
  </button>
  <mat-divider></mat-divider>
  <button
    #btnShowObj
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.buffer' | translate"
    (click)="onOpenBufferStatus()"
  >
    <mat-icon>sensor_window</mat-icon>
  </button>

  <button
    #btnShowObj
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.vehicleStatus' | translate"
    (click)="onOpenVehicleStatus()"
  >
    <mat-icon>security_update_warning</mat-icon>
  </button>

  <!-- <mat-divider></mat-divider>

  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    [matTooltip]="'names.getStatusAllVehicle' | translate"
    (click)="onPing()"
  >
    <mat-icon>motion_photos_on</mat-icon>
  </button>
  <ng-container *ngIf="canControl">
    <button
      matListItem
      mat-button
      class="tool-item"
      matTooltipClass="snb-tooltip"
      matTooltipPosition="right"
      [matTooltip]="'names.setAutoAllVehicle' | translate"
      (click)="onSetAuto()"
    >
      <mat-icon>brightness_auto</mat-icon>
    </button>
    <button
      matListItem
      mat-button
      class="tool-item"
      matTooltipClass="snb-tooltip"
      matTooltipPosition="right"
      [matTooltip]="'names.resetAllVehicle' | translate"
      matTooltip="Reset All Vehicle"
      (click)="onVehicleReset()"
    >
      <mat-icon>settings_backup_restore</mat-icon>
    </button>
    <button
      matListItem
      mat-button
      class="tool-item"
      matTooltipClass="snb-tooltip"
      matTooltipPosition="right"
      [matTooltip]="'names.estopAllVehicle' | translate"
      (click)="onEStop()"
    >
      <mat-icon fontSet="material-icons-outlined">stop_circle</mat-icon>
    </button>
  </ng-container> -->
</mat-list>

<mde-popover
  #visibilityPopover="mdePopover"
  [mdePopoverOverlapTrigger]="false"
  mdePopoverArrowWidth="0"
  [mdePopoverCloseOnClick]="false"
  [mdeFocusTrapEnabled]="false"
  [mdePopoverLeaveDelay]="300"
>
  <mat-list class="popover-list mat-elevation-z2">
    <div class="popover-title mat-elevation-z2">
      {{ "names.showObjects" | translate }}
    </div>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.vehicleLines"
      (click)="onToggleTool('vehicleLines')"
    >
      {{ "names.showVehicleLines" | translate }}
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.expectedPaths"
      (click)="onToggleTool('expectedPaths')"
    >
      {{ "names.showExpectedPaths" | translate }}
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.pointLabels"
      (click)="onToggleTool('pointLabels')"
    >
      {{ "names.showPointLabels" | translate }}
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.segmentDirections"
      (click)="onToggleTool('segmentDirections')"
    >
      {{ "names.showSegmentDirections" | translate }}
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.stations"
      (click)="onToggleTool('stations')"
    >
      {{ "names.showStations" | translate }}
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.buffers"
      (click)="onToggleTool('buffers')"
    >
      {{ "names.showBuffers" | translate }}
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.groups"
      (click)="onToggleTool('groups')"
    >
      {{ "names.showGroups" | translate }}
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.clusters"
      (click)="onToggleTool('clusters')"
    >
      {{ "names.showClusters" | translate }}
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.overlaps"
      (click)="onToggleTool('overlaps')"
    >
      {{ "names.showOverlaps" | translate }}
    </button>
  </mat-list>
</mde-popover>
