<div class="panel-header">
  {{ "names.itemDetails" | translate }}
</div>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Vehicle</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="item-desc">
      Description...
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Command Interface</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="item-desc">
      Description...
    </div>
  </mat-expansion-panel>
</mat-accordion>
