<mat-list mdePopoverTarget #popoverTarget="mdePopoverTarget">
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Center Zoom"
    (click)="onCommandTool('centerZoom')"
  >
    <mat-icon>center_focus_strong</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Search"
    (click)="onSearch()"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item active"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Track Vehicle"
  >
    <mat-icon>location_on</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    #visibilityTrigger="mdePopoverTrigger"
    [mdePopoverTriggerFor]="visibilityPopover"
    mdePopoverTriggerOn="hover"
    mdePopoverPositionX="before"
    mdePopoverPositionY="below"
    [mdePopoverOffsetX]="40"
    [mdePopoverOffsetY]="0"
    [mdePopoverOverlapTrigger]="true"
  >
    <mat-icon>flip_to_front</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    [class.active]="buttonState.minimap"
    (click)="onToggleTool('minimap')"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Show Mini map"
  >
    <mat-icon>map</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Manual Order (Command)"
  >
    <mat-icon>tune</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    [class.active]="buttonState.controlTable"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Show Control Table"
    (click)="onToggleTool('controlTable')"
  >
    <mat-icon>window</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Get All Vehicle Status"
    (click)="onPing()"
  >
    <mat-icon>motion_photos_on</mat-icon>
  </button>

  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Set Auto All Vehicle"
    (click)="onSetAuto()"
  >
    <mat-icon>brightness_auto</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Reset All Vehicle"
    (click)="onVehicleReset()"
  >
    <mat-icon>settings_backup_restore</mat-icon>
  </button>
  <button
    matListItem
    mat-button
    class="tool-item"
    matTooltipClass="snb-tooltip"
    matTooltipPosition="right"
    matTooltip="Stop All Vehicle"
    (click)="onEStop()"
  >
    <mat-icon fontSet="material-icons-outlined">stop_circle</mat-icon>
  </button>
</mat-list>

<mde-popover
  #visibilityPopover="mdePopover"
  [mdePopoverOverlapTrigger]="false"
  mdePopoverArrowWidth="0"
  [mdePopoverCloseOnClick]="false"
  [mdeFocusTrapEnabled]="false"
  [mdePopoverLeaveDelay]="300"
>
  <mat-list class="popover-list mat-elevation-z4">
    <div class="popover-title mat-elevation-z2">Show / Hide Objects</div>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.vehicleLines"
      (click)="onToggleTool('vehicleLines')"
    >
      Vehicle Lines
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.expectedPaths"
      (click)="onToggleTool('expectedPaths')"
    >
      Expected Paths
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.pointLabels"
      (click)="onToggleTool('pointLabels')"
    >
      Point Labels
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.segmentDirections"
      (click)="onToggleTool('segmentDirections')"
    >
      Segment Directions
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.stations"
      (click)="onToggleTool('stations')"
    >
      Stations
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.buffers"
      (click)="onToggleTool('buffers')"
    >
      Buffers
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.groups"
      (click)="onToggleTool('groups')"
    >
      Groups
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.clusters"
      (click)="onToggleTool('clusters')"
    >
      Clusters
    </button>
    <button
      matListItem
      mat-button
      [class.active]="buttonState.overlaps"
      (click)="onToggleTool('overlaps')"
    >
      Overlapping Objects
    </button>
  </mat-list>
</mde-popover>
