.track-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#map-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  align-self: start;
  z-index: 5;
  width: 32px;

  &.show-name {
    width: var(--toolbar-named-width);
  }
}

.side_panel {
  min-width: 325px;
}

#tooltipView {
  position: absolute;
}

::ng-deep.tooltip-box {
  color: red;

  .dx-overlay-content {
    border: 1px solid var(--dialog-border-color);
    background-color: var(--panel-background-color);
    box-shadow: var(--overlay-shadow);
  }

  &.dx-tooltip-wrapper.dx-popover-wrapper .dx-popover-arrow::after {
    border: 1px solid var(--dialog-border-color);
  }
  &.dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
    padding: 0;
  }
}

.tooltip-title {
  font-size: 14px;
  font-weight: bold;
  background-color: var(--dialog-border-color);
  padding: 4px;
}

.tooltip-content {
  padding: 8px;
  display: grid;
  // width: 200px;
  grid-template-columns: auto auto;
  column-gap: 10px;

  .name {
    font-weight: bold;
    justify-self: end;
  }
  .value {
    justify-self: start;
  }
}

.context-menu {
  position: absolute;
  top: 100px;
  left: 100px;
  // width: calc(var(--context-menu-width) * 1px);

  .mat-button {
    .mat-menu-trigger {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .index-selector {
    margin-bottom: 16px;
  }

  mat-card {
    box-shadow: var(--overlay-shadow);
    background-color: var(--panel-background-color);
    padding: 0;

    mat-card-header {
      background-color: var(--dialog-border-color);
      padding: 4px;

      .mat-card-title {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: inherit;
      }
    }

    mat-card-content {
      padding: 4px;
      margin-bottom: 0px;
    }

    ::ng-deep {
      .mat-button-wrapper {
        line-height: inherit;
      }

      .mat-card-header-text {
        margin: 0 4px;
      }
    }

    .context-form {
      display: grid;
      // grid-auto-rows: 30px;
      row-gap: 4px;
      // justify-content: center;

      .form-row-start {
        justify-self: flex-start;
      }
    }

    .mat-button {
      font-size: 12px;
      line-height: 24px;

      &.menu-trigger {
        padding-right: 0;

        ::ng-deep.mat-button-wrapper {
          justify-content: flex-end;
        }
      }
    }
  }

  mat-form-field {
    width: 80px;
    input {
      font-size: 11px;
    }
    ::ng-deep {
      .mat-form-field-wrapper {
        // padding-bottom: 0;
        margin-bottom: -1.25em;
      }
      // .mat-form-field-underline {
      //   display: none;
      // }
      .mat-form-field-suffix {
        font-size: 11px;
      }
    }
  }
}
