<div id="track-container" class="track-container">
  <oms-track-monitor id="track-canvas" [viewMode]="viewMode" [mapType]="trackData.mapType"
    [width]="omsTrackMonitorSize.width" [height]="omsTrackMonitorSize.height" [isMinimapShowing]="isMinimapVisible"
    [isClusterShowing]="true" [isGroupShowing]="true" (tooltipon)="onTooltipOn($event)"
    (tooltipoff)="onTooltipOff($event)" (focus)="onFocus($event)" (contextmenuon)="onContectMenuOn($event)"
    (backdrop)="onBackdrop($event)" (rotate)="onRotate($event)">
  </oms-track-monitor>

  <div id="side_panel">
    <!-- detail panel at right side -->
    <oms-map-side-panel *ngIf="activeDetails" class="side_panel active" [selectedObject]="selectedObject">
    </oms-map-side-panel>
  </div>


  <!-- maptoolbar at left side -->
  <oms-map-toolbar id="map-toolbar" class="snb toolbar" [class.show-name]="showToolbarText"
    [buttonState]="preference.toggles" (centerZoom)="onCenterZoom()" (toggleMinimap)="onToggleMinimap()">
  </oms-map-toolbar>
</div>