<div id="track-container" class="track-container">
  <oms-track-monitor id="track-canvas" [viewMode]="viewMode" [mapType]="trackData.mapType"
    [width]="viewerSetting.rect.width" [height]="viewerSetting.rect.height"
    [vehicleSize]="viewerSetting.scale.vehicleSize" [segmentDirectionSize]="viewerSetting.scale.segmentDirectionSize"
    [segmentWidth]="viewerSetting.scale.segmentWidth" [rotation]="viewerSetting.rotation"
    [isMinimapVisible]="viewerSetting.visible.isMinimapVisible"
    [isVehicleLineVisible]="viewerSetting.visible.isVehicleLineVisible"
    [isSegmentDirectionVisible]="viewerSetting.visible.isSegmentDirectionVisible"
    [isPointLabelVisible]="viewerSetting.visible.isPointLabelVisible"
    [isStationVisible]="viewerSetting.visible.isStationVisible"
    [isBufferVisible]="viewerSetting.visible.isBufferVisible" [isGroupVisible]="viewerSetting.visible.isGroupVisible"
    [isClusterVisible]="viewerSetting.visible.isClusterVisible"
    [isOverlappingObjectsVisible]="viewerSetting.visible.isOverlappingObjectsVisible" [backgroundColor]="'white'"
    [stationColor]="'yellow'" [bufferColor]="'blue'" [pointColor]="'green'" [normalSegmentColor]="'pink'"
    [disabledSegmentColor]="'black'" [segmentDirectionColor]="'red'" [autoModeVehicleColor]="'cyan'"
    [manualModeVehicleColor]="'coral'" [noneModeVehicleColor]="'darkseagreen'" [cargoLoadingColor]="'hotpink'"
    [cargoFullColor]="'palevioletred'" [cargoUnloadingColor]="'royalblue'" (tooltipon)="onTooltipOn($event)"
    (tooltipoff)="onTooltipOff($event)" (focus)="onFocus($event)" (contextmenuon)="onContectMenuOn($event)"
    (backdrop)="onBackdrop($event)">
  </oms-track-monitor>

  <div id="side_panel">
    <!-- detail panel at right side -->
    <oms-map-side-panel *ngIf="activeDetails" class="side_panel active" [selectedObject]="selectedObject">
    </oms-map-side-panel>
  </div>


  <!-- maptoolbar at left side -->
  <oms-map-toolbar id="map-toolbar" class="snb toolbar" [class.show-name]="showToolbarText"
    [buttonState]="preference.toggles" (centerZoom)="onCenterZoom()" (toggleMinimap)="onToggleMinimap()"
    (scaleChanged)="onScaleChanged($event)" (rotationChanged)="onRotationChanged($event)"
    (visibleChanged)="onVisibleChanged($event)">
  </oms-map-toolbar>


</div>
