.gnb-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid var(--theme-border-color);
  // box-shadow: 0px 4px 12px rgba(#000000, 0.3);
  height: var(--header-height);
  font-family: Mulish;
  font-weight: normal;
  font-size: 1.1rem;
  color: var(--theme-text-color);
}

.gnb-container-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid var(--theme-border-color);
  height: var(--header-height);
  font-family: Mulish;
  font-weight: normal;
  font-size: 1rem;
  color: var(--theme-text-color);
  padding-right: 0 !important;
}
.gnb-left,
.gnb-center,
.gnb-right {
  display: flex;
  align-items: center;
}

.gnb-left {
  justify-content: flex-start;
}
.gnb-center {
  justify-content: center;
}
.gnb-right {
  justify-content: flex-end;
}

.logo {
  display: flex;
  margin-right: 10px;
  align-items: baseline;

  h1 {
    color: #000;
    font-weight: 900;
    font-size: 1.3rem;
    margin-right: 8px;
  }
  .version {
    font-size: 12px;
  }
}

.states {
  justify-self: center;
}

.indicators {
  justify-self: end;
  margin-right: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-self: end;
}
.gnb-container-mobile .indicators {
  margin-right: 0 !important;
}
.mobile-state{
  z-index: 13;
  background: #f5f5f5;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  opacity: 0.8;
}
