<form [formGroup]="form" novalidate class="user-form" (ngSubmit)="onSave()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>{{ "names.userId" | translate }}</mat-label>
      <input matInput formControlName="userId" required [minlength]="UserDataRestriction.UserId.Minlength"
        [maxlength]="UserDataRestriction.UserId.Maxlength" />
      <mat-error *ngIf="f.userId.errors">
        <mat-error *ngIf="f.userId.errors.existUserId"> {{
          "messages.existUserId" | translate
          }}</mat-error>
        <mat-error *ngIf="f.userId.errors.required">{{
          "messages.required" | translate: { field: "User ID" }
          }}</mat-error>
        <mat-error *ngIf="f.userId.errors.minlength">{{
          "messages.minLength" | translate: { minLength: UserDataRestriction.UserId.Minlength }
          }}</mat-error>
        <mat-error *ngIf="f.userId.errors.maxlength">{{
          "messages.maxLength" | translate: { maxLength: UserDataRestriction.UserId.Maxlength }
          }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "names.firstName" | translate }}</mat-label>
      <input matInput formControlName="firstName" required [minlength]="UserDataRestriction.FirstName.Minlength"
        [maxlength]="UserDataRestriction.FirstName.Maxlength" />
      <mat-error *ngIf="f.firstName.errors">
        <mat-error *ngIf="f.firstName.errors.required">{{
          "messages.required" | translate: { field: "First Name" }
          }}</mat-error>
        <mat-error *ngIf="f.firstName.errors.minlength">{{
          "messages.minLength" | translate: { minLength: UserDataRestriction.FirstName.Minlength }
          }}</mat-error>
        <mat-error *ngIf="f.firstName.errors.maxlength">{{
          "messages.maxLength" | translate: { maxLength: UserDataRestriction.FirstName.Maxlength }
          }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "names.lastName" | translate }}</mat-label>
      <input matInput formControlName="lastName" required [minlength]="UserDataRestriction.LastName.Minlength"
        [maxlength]="UserDataRestriction.LastName.Maxlength" />
      <mat-error *ngIf="f.lastName.errors">
        <mat-error *ngIf="f.lastName.errors.required">{{
          "messages.required" | translate: { field: "Last Name" }
          }}</mat-error>
        <mat-error *ngIf="f.lastName.errors.minlength">{{
          "messages.minLength" | translate: { minLength: UserDataRestriction.LastName.Minlength }
          }}</mat-error>
        <mat-error *ngIf="f.lastName.errors.maxlength">{{
          "messages.maxLength" | translate: { maxLength: UserDataRestriction.LastName.Maxlength }
          }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "names.email" | translate }}</mat-label>
      <input matInput formControlName="email" required [minlength]="UserDataRestriction.Email.Minlength"
        [maxlength]="UserDataRestriction.Email.Maxlength" />
      <mat-error *ngIf="f.email.errors">
        <mat-error *ngIf="f.email.errors.required">{{
          "messages.required" | translate: { field: "Email" }
          }}</mat-error>
        <mat-error *ngIf="!!!f.email.errors.minlength && f.email.errors.email">{{
          "messages.invalidEmail" | translate
          }}</mat-error>
        <mat-error *ngIf="f.email.errors.minlength">{{
          "messages.minLength" | translate: { minLength: UserDataRestriction.Email.Minlength }
          }}</mat-error>
        <mat-error *ngIf="f.email.errors.maxlength">{{
          "messages.maxLength" | translate: { maxLength: UserDataRestriction.Email.Maxlength }
          }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "names.newPassword" | translate }}</mat-label>
      <input type="password" matInput formControlName="password" required
        [minlength]="UserDataRestriction.Password.Minlength" [maxlength]="UserDataRestriction.Password.Maxlength" />
      <mat-error *ngIf="f.password.errors">
        <mat-error *ngIf="f.password.errors.required">{{
          "messages.required" | translate: { field: "Password" }
          }}</mat-error>
        <mat-error *ngIf="f.password.errors.minlength">{{
          "messages.minLength" | translate: { minLength: UserDataRestriction.Password.Minlength }
          }}</mat-error>
        <mat-error *ngIf="f.password.errors.maxlength">{{
          "messages.maxLength" | translate: { maxLength: UserDataRestriction.Password.Maxlength }
          }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "names.passwordConfirm" | translate }}</mat-label>
      <input type="password" matInput formControlName="passwordConfirm" required
        [minlength]="UserDataRestriction.Password.Minlength" [maxlength]="UserDataRestriction.Password.Maxlength" />
      <mat-error *ngIf="f.passwordConfirm.errors">
        <mat-error *ngIf="f.passwordConfirm.errors.required">{{
          "messages.required" | translate: { field: "Confirm Password" }
          }}</mat-error>
        <mat-error *ngIf="f.passwordConfirm.errors.minlength">{{
          "messages.minLength" | translate: { minLength: UserDataRestriction.Password.Minlength }
          }}</mat-error>
        <mat-error *ngIf="f.passwordConfirm.errors.maxlength">{{
          "messages.maxLength" | translate: { maxLength: UserDataRestriction.Password.Maxlength }
          }}</mat-error>
        <mat-error *ngIf="f.passwordConfirm.errors.missMatch">{{
          "messages.passwordMissMatch" | translate
          }}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="enableRole">
      <mat-label>{{ "names.role" | translate }}</mat-label>
      <mat-select formControlName="roles" required>
        <mat-option *ngFor="let item of roles$ | async" [value]="item.id">{{
          item.name
          }}</mat-option>
      </mat-select>
      <mat-error *ngIf="f.roles.errors">
        <mat-error *ngIf="f.roles.errors.required">{{
          "messages.required" | translate: { field: "Role" }
          }}</mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button [disabled]="form.invalid" color="primary">
      {{ "names.save" | translate }}
    </button>
    <button type="button" mat-raised-button (click)="onCancel()">
      {{ "names.cancel" | translate }}
    </button>
  </div>
</form>
