<oms-dialog-base title="Search">
  <ng-container class="dialog-layout">
    <div mat-dialog-content>
      <dx-select-box
        #type
        class="form-item"
        placeholder="Select Type"
        [dataSource]="objectTypes"
        valueExpr="key"
        displayExpr="value"
        [searchEnabled]="true"
        (selectedItemChange)="onSelectType($event)"
      ></dx-select-box>
      <dx-autocomplete
        #value
        class="form-item"
        placeholder="Select ID"
        [dataSource]="targets"
        [showClearButton]="true"
      ></dx-autocomplete>
      <!-- <dx-select-box
        #value
        class="form-item"
        placeholder="Select ID"
        [dataSource]="targets"
        [disabled]="!canSelectTarget"
        [searchEnabled]="true"
      ></dx-select-box> -->
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onSearch(type.value, value.value)">Search</button>
    </div>
  </ng-container>
</oms-dialog-base>
