:host {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}

mat-action-list {
  flex: 1 1 auto;
  overflow-y: auto;
  font-size: 11px;
  height: 360px;

  button {
    font-size: 11px;
    height: 24px;
  }
}
