<h2>{{ "names.mapInfo" | translate }}</h2>

<div class="flex-row">
  <mat-form-field appearance="outline">
    <mat-label>{{ "names.mapName" | translate }}</mat-label>
    <input [readonly]="true" matInput [value]="currentMapName" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ "names.mapVersion" | translate }}</mat-label>
    <input [readonly]="true" matInput [value]="currentMapVersion">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ "names.fileName" | translate }}</mat-label>
    <input [readonly]="true" matInput [value]="currentFileName">
  </mat-form-field>
</div>

<h2>{{ "names.mapUpdate" | translate }}</h2>

<div class="flex-row">
  <mat-form-field appearance="outline">
    <mat-label>{{ "names.mapName" | translate }}</mat-label>
    <input matInput [(ngModel)]="updateMapName" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ "names.mapVersion" | translate }}</mat-label>
    <input [readonly]="true" matInput [value]="updateMapVersion">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ "names.fileName" | translate }}</mat-label>
    <input matInput [(ngModel)]="updateFileName" [matAutocomplete]="auto" (focus)="updateMapFiles()">
    <mat-autocomplete #auto>
      <mat-option *ngFor="let map of maps" [value]="map">
        {{map}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<mat-progress-bar class="mb-30" *ngIf="isUpdating" mode="indeterminate" aria-label="Loading"></mat-progress-bar>
<button *ngIf="(isUpdating === false)" mat-raised-button color="primary" class="mb-30" (click)="onUpdateMap()">Update</button>

<h2>{{ "names.vehicleMap" | translate }}</h2>

<div class="actions-container">
  <button mat-raised-button class="dense" color="primary" (click)="onRefresh()">
    {{ "names.refreshMapInfo" | translate }}
  </button>
  <button mat-raised-button class="dense" color="primary" (click)="onUpdateVehicles()" [disabled]="!canControl">
    {{ "names.requestMapUpdate" | translate }}
  </button>
</div>

<dx-data-grid id="dataGrid" [dataSource]="dataSource" [columnAutoWidth]="false" [remoteOperations]="true" width="100%" [height]="250"
              [showBorders]="true" [hoverStateEnabled]="true" [(selectedRowKeys)]="selectedIds">
  <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20 ,50, 100, 200]" [showInfo]="true" visible="true">
  </dxo-pager>
  <dxo-scrolling mode="standard" rowRenderingMode="standard" showScrollbar="always"></dxo-scrolling>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxi-column [width]="80" dataType="number" dataField="id" [caption]="'names.id' | translate" [allowFiltering]="false">
  </dxi-column>
  <dxi-column [width]="80" dataType="string" dataField="logicalId" [caption]="'names.logicalId' | translate">
  </dxi-column>
  <dxi-column [width]="100" dataType="string" dataField="map" [caption]="'names.mapDb' | translate"></dxi-column>
  <dxi-column [width]="100" dataType="string" dataField="mapVersion" [caption]="'names.mapVersion' | translate"></dxi-column>
  <dxi-column [width]="100" [caption]="'names.mapVersion' | translate" [calculateCellValue]="calculateConflict"></dxi-column>
</dx-data-grid>
