<div class="setting-header">
  <h3 class="setting-title">{{ "names.alarmList" | translate }}</h3>
  <div class="setting-actions">
    <button mat-raised-button class="dense" color="primary">Save</button>
    <button mat-raised-button class="dense">Revert</button>
  </div>
</div>

<dx-data-grid
  [dataSource]="dataSource | async"
  [height]="450"
  [showBorders]="true"
  [allowColumnResizing]="true"
>
  <dxo-paging [pageSize]="23"></dxo-paging>
  <dxo-editing mode="cell" [useIcons]="true"></dxo-editing>
  <dxi-column dataField="code" [allowEditing]="false" [width]="60"></dxi-column>
  <dxi-column dataField="AlarmName" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="Reason" [allowEditing]="false"> </dxi-column>
  <dxi-column dataField="Action"> </dxi-column>
  <dxo-search-panel
    [placeholder]="'names.search' | translate"
    [visible]="true"
  ></dxo-search-panel>
</dx-data-grid>
