<div class="setting-header">
  <h3 class="setting-title">{{ "names.bufferSetting" | translate }}</h3>
  <div class="setting-actions">
    <button mat-raised-button class="dense" [disabled]="!isUpdated" color="primary" (click)="onSave(gridBuffers)">
      {{ "names.save" | translate }}
    </button>
    <button mat-raised-button class="dense" [disabled]="!isUpdated" (click)="onRevert(gridBuffers)">
      {{ "names.revert" | translate }}
    </button>
  </div>
</div>

<dx-data-grid
  #gridBuffers
  [dataSource]="dataSource"
  [keyExpr]="'id'"
  [repaintChangesOnly]="true"
  [showBorders]="true"
  [height]="450"
  [allowColumnResizing]="false"
  [(selectedRowKeys)]="selectedIds"
  (onRowUpdated)="onUpdateRow($event)"
  (onSelectionChanged)="onSelectionChanged($event)">

  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-editing
    mode="cell"
    refreshMode="reshape"
    [allowUpdating]="true"
    [allowDeleting]="false"
    [allowAdding]="false"
    [useIcons]="true">
  </dxo-editing>
  <!--
  <dxo-selection mode="multiple" selectAllMode="allPages" showCheckBoxesMode="always"></dxo-selection>
  -->

  <dxi-column dataType="number" dataField="id" [allowEditing]="false" [width]="60" alignment="center"></dxi-column>
  <dxi-column dataType="sting" dataField="logicalId" [caption]="'names.onlineName' | translate" [allowEditing]="false" alignment="center"></dxi-column>
  <dxi-column dataType="boolean" dataField="unUse" [caption]="'names.unuse' | translate"></dxi-column>

  <dxo-search-panel
    [placeholder]="'names.search' | translate"
    [visible]="true"
  ></dxo-search-panel>
</dx-data-grid>
