:host {
  display: flex;
  flex-direction: column;
}

.assign-grid {
  display: grid;
  grid-template-columns: 1fr 120px;
  column-gap: 32px;
  justify-items: flex-start;
  align-self: flex-start;
  margin-left: 8px;
  width: 450px;

  .assign-container {
    display: inline;
  }
}

mat-label {
  font-size: 13px;
  font-weight: bold;
  margin-right: 8px;
}

.max-vehicle mat-form-field.dense {
  ::ng-deep.mat-form-field-infix {
    width: initial;
  }
}
