:host {
  display: flex;
  flex-direction: column;
}

.assign-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  row-gap: 8px;
  justify-items: flex-start;
  align-self: flex-start;
}
