<div class="setting-header">
  <h3 class="setting-title">{{ "names.stationSetting" | translate }}</h3>
  <div class="setting-actions">
    <button mat-raised-button class="dense" color="primary">
      {{ "names.save" | translate }}
    </button>
    <button mat-raised-button class="dense">
      {{ "names.revert" | translate }}
    </button>
  </div>
</div>

<dx-data-grid
  [dataSource]="dataSource$ | async"
  [height]="450"
  [showBorders]="true"
  (onRowUpdated)="onUpdateRow($event)"
>
  <dxo-paging [pageSize]="23"></dxo-paging>
  <dxo-editing
    mode="cell"
    [allowUpdating]="true"
    [useIcons]="true"
  ></dxo-editing>
  <dxi-column
    dataField="id"
    [allowEditing]="false"
    [width]="60"
    alignment="center"
  >
  </dxi-column>
  <dxi-column
    dataField="onlineName"
    [caption]="'names.onlineName' | translate"
    [allowEditing]="false"
    alignment="center"
  ></dxi-column>
  <dxi-column dataField="unuse" [caption]="'names.unuse' | translate">
  </dxi-column>
  <dxi-column
    dataField="secondaryStation"
    [caption]="'names.secondary' | translate"
    alignment="center"
  >
    <dxo-lookup
      [dataSource]="dataSource$ | async"
      displayExpr="onlineName"
      valueExpr="onlineName"
    >
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="maxRetrySec" [caption]="'MaxRetry(Sec)'"> </dxi-column>
  <dxi-column dataField="retryIntervalSec" [caption]="'RetryInterval(Sec)'">
  </dxi-column>
  <dxo-search-panel
    [placeholder]="'names.search' | translate"
    [visible]="true"
  ></dxo-search-panel>
</dx-data-grid>
