<h5>{{ title }}</h5>

<div class="assign-container">
  <div class="unassigned-list">
    <dx-data-grid
      [dataSource]="unassigned"
      [disabled]="disabled"
      [showBorders]="true"
      [(selectedRowKeys)]="selectedUnassignedIds"
      [height]="gridHeight"
    >
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-selection
        mode="multiple"
        showCheckBoxesMode="always"
      ></dxo-selection>
      <dxi-column
        [width]="58"
        alignment="center"
        [caption]="unitName"
        cellTemplate="idTemplate"
      >
      </dxi-column>
      <div class="item-text" *dxTemplate="let data of 'idTemplate'">
        {{ data.data }}
      </div>
    </dx-data-grid>
  </div>
  <div class="actions">
    <button mat-icon-button (click)="onUnassign()" [disabled]="disabled">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <button mat-icon-button (click)="onAssign()" [disabled]="disabled">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <div class="assigned-list">
    <dx-data-grid
      [dataSource]="picked"
      [disabled]="disabled"
      [showBorders]="true"
      [(selectedRowKeys)]="selectedAssignedIds"
      [height]="gridHeight"
    >
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-selection
        mode="multiple"
        showCheckBoxesMode="always"
      ></dxo-selection>
      <dxi-column
        [width]="58"
        alignment="center"
        [caption]="unitName"
        cellTemplate="idTemplate"
      >
      </dxi-column>
      <div class="item-text" *dxTemplate="let data of 'idTemplate'">
        {{ data.data }}
      </div>
    </dx-data-grid>
  </div>
</div>
