<div class="setting-header">
  <h3 class="setting-title">{{ "names.zcuSetting" | translate }}</h3>
  <div class="setting-actions">
    <button mat-raised-button class="dense" [disabled]="!isUpdated" color="primary" (click)="onSave(gridZcus)">
      {{ "names.save" | translate }}
    </button>
    <button mat-raised-button class="dense" [disabled]="!isUpdated" (click)="onRevert(gridZcus)">
      {{ "names.revert" | translate }}
    </button>
  </div>
</div>

<dx-data-grid
  #gridZcus
  [dataSource]="dataSource"
  [keyExpr]="'id'"
  [repaintChangesOnly]="true"
  [showBorders]="true"
  [height]="450"
  [allowColumnResizing]="false"
  [(selectedRowKeys)]="selectedIds"
  (onRowUpdated)="onUpdateRow($event)"
  (onSelectionChanged)="onSelectionChanged($event)"
  [masterDetail]="{ enabled: true, template: 'detailTemplate' }">
  
  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-editing
    mode="cell"
    refreshMode="reshape"
    [allowUpdating]="true"
    [allowDeleting]="false"
    [allowAdding]="false"
    [useIcons]="true">
  </dxo-editing>  
  <!--
  <dxo-selection mode="multiple" selectAllMode="allPages" showCheckBoxesMode="always"></dxo-selection>
  -->

  <dxi-column dataType="number" dataField="id" [allowEditing]="false" alignment="center"></dxi-column>
  <dxi-column dataField="zcuType" [caption]="'names.type' | translate" [allowEditing]="false" alignment="center">
    <dxo-lookup [dataSource]="zcuTypes" valueExpr="type" displayExpr="text"></dxo-lookup>
  </dxi-column>
  <dxi-column dataField="completePoints" [caption]="'names.completeNodes' | translate" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="usingType" [caption]="'names.usingType' | translate" [width]="120" alignment="center">
    <dxo-lookup [dataSource]="zcuUsingTypes" valueExpr="type" displayExpr="text"></dxo-lookup>
  </dxi-column>

  <dxo-search-panel
    [placeholder]="'names.search' | translate"
    [visible]="true">
  </dxo-search-panel>

  <div *dxTemplate="let row of 'detailTemplate'">
    <div class="row-detail">
      <div class="detail-title">
        ZCU {{ row.data.id }} {{ "names.inputZones" | translate }}
      </div>

      <div class="detail-info">
        <dx-data-grid
          [dataSource]="row.data.inputZones"
          [showBorders]="true">
          <dxi-column dataField="priorityPoint" [caption]="'names.priority' | translate" [allowEditing]="false" [width]="100" alignment="center"></dxi-column>
          <dxi-column dataField="zonePoints" [caption]="'names.zone' | translate" [allowEditing]="false" alignment="center"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</dx-data-grid>
