<oms-dialog-base [title]="'names.playback' | translate">
  <ng-container class="dialog-layout">
    <div mat-dialog-content class="control-container">
      <div class="form-period">
        <!-- <div class="control-title">{{ "names.period" | translate }}</div> -->
        <dx-date-box
          [(value)]="options.startAt"
          type="datetime"
          class="timePicker"
          id="fromTime"
          displayFormat="yyyy-MM-dd HH:mm"
          [min]="firstTime"
          [(max)]="options.endAt"
        >
        </dx-date-box>
        <div class="date-divider">~</div>
        <dx-date-box
          [(value)]="options.endAt"
          type="datetime"
          class="timePicker"
          id="toTime"
          displayFormat="yyyy-MM-dd HH:mm"
          [(min)]="firstTime"
          [max]="options.maxTime"
        >
        </dx-date-box>
      </div>
      <div class="control-slider">
        <div class="slider-name">{{ "names.snapshots" | translate }}</div>
        <mat-slider
          #snapshotSlider
          min="0"
          [max]="options.snapshotMax"
          [disabled]="!ready"
          [(ngModel)]="states.snapshot"
          color="primary"
        ></mat-slider>
        <div class="slider-value">{{ snapshotSlider.value }}</div>
      </div>
      <div class="control-slider">
        <div class="slider-name">{{ "names.events" | translate }}</div>
        <mat-slider
          #eventSlider
          min="1"
          max="100"
          color="primary"
          [disabled]="!ready"
        ></mat-slider>
        <div class="slider-value">{{ eventSlider.value }}</div>
      </div>
      <div class="control-play">
        <button mat-icon-button id="prev" [disabled]="!ready">
          <mat-icon>skip_previous</mat-icon>
        </button>
        <button mat-icon-button id="play" [disabled]="!ready">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button id="ff" [disabled]="!ready">
          <mat-icon>fast_forward</mat-icon>
        </button>
        <button mat-icon-button id="next" [disabled]="!ready">
          <mat-icon>skip_next</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="fill" class="form-speed">
        <mat-label>{{ "names.speed" | translate }}</mat-label>
        <mat-select [(ngModel)]="options.speed" [disabled]="!ready">
          <mat-option *ngFor="let speed of speedValues" [value]="speed"
            >{{ speed }}x</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-step">
        <mat-label>{{ "names.events" | translate }}</mat-label>
        <input
          [disabled]="!ready"
          matInput
          type="number"
          min="1"
          max="100"
          [(ngModel)]="options.eventsStep"
        />
      </mat-form-field>

      <mat-form-field class="form-time readonly full-width">
        <mat-label>{{ "names.time" | translate }}</mat-label>
        <input matInput type="text" readonly [value]="(currentSnapshot| date:'yyyy-MM-dd HH:mm:ss') || ''" />
      </mat-form-field>
      <mat-form-field class="form-event readonly">
        <mat-label>{{ "names.event" | translate }}</mat-label>
        <input matInput type="number" readonly [value]="states.event" />
      </mat-form-field>
      <mat-form-field class="form-next readonly">
        <mat-label>{{ "names.timeToNextEvents" | translate }}</mat-label>
        <input matInput type="number" readonly [value]="states.nextEvent" />
      </mat-form-field>
    </div>
  </ng-container>
</oms-dialog-base>
