.control-container {
  display: grid;
  // grid-template-columns: repeat(2, 1fr) 12px repeat(2, 1fr);
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 1fr repeat(2, fit-content(130px));
  column-gap: 8px;
  align-items: flex-end;

  mat-form-field {
    max-width: 130px;
  }
  mat-select {
    max-height: 18px;
  }
}

.form-period {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 16px 1fr;
  align-items: center;
}

.date-divider {
  text-align: center;
}

.control-slider {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 100px 1fr 50px;
  align-items: center;

  .slider-name {
    font-weight: bold;
  }
  .slider-value {
    text-align: right;
  }
}

mat-form-field.readonly {
  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-form-field-underline {
      display: none;
    }
  }
}

.control-play {
  $playIconSize: 40px;
  $playButtonSize: 50px;
  // grid-column: span 3;
  padding-bottom: 20px;

  mat-icon {
    font-size: $playIconSize;
    height: $playIconSize;
    width: $playIconSize;
    line-height: $playIconSize;
  }

  .mat-icon-button {
    height: $playButtonSize;
    width: $playButtonSize;
    line-height: $playButtonSize;
  }
}
mat-slider {
  width: 100%;
}
