.control-container {
  mat-form-field {
    max-width: 130px;
  }

  mat-select {
    max-height: 18px;
  }

  overflow: hidden;
}

.window-period {
  grid-column: span 3;

  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    font-size: 0.7rem;
  }
}

.form-period {
  display: grid;
  grid-column: span 3;
  grid-template-columns: 1fr 16px 1fr;
  align-items: center;
}

.form-time {
  grid-column-start: 1;
}

.form-speed {
  margin-right: 5px;
}

.form-step {
  min-width: 200px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.date-divider {
  text-align: center;
}

.control-slider {
  margin-top: 5px;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;

  .slider-name {
    font-weight: bold;
  }

  .slider-value {
    text-align: right;
    font-size: 11px;
  }
}

mat-select {
  font-size: 12px;
}

.control-play {
  margin-top: 40px;
  $playIconSize: 40px;
  $playButtonSize: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  mat-icon {
    font-size: $playIconSize;
    height: $playIconSize;
    width: $playIconSize;
    line-height: $playIconSize;
  }

  .mat-icon-button {
    height: $playButtonSize;
    width: $playButtonSize;
    line-height: $playButtonSize;
  }
}

mat-slider {
  width: 100%;
}
