<div id="kpi-container">
  <div class="area summary">    
    <div class="gauge util">
      <div class="title" (click)="onClick('kpi')">{{ "names.utilization" | translate }}</div>
      <div class="data" (click)="onClick('kpi')"> 67.78%</div>
    </div>
    <div class="gauge delivery">
      <div class="title" (click)="onClick('kpi')">{{ "names.deliveryTime" | translate }}</div>
      <div class="data" (click)="onClick('kpi')"> 87.10 sec</div>
    </div>
    <div class="gauge cpu">
      <div class="title" (click)="onClick('systeminfo')">{{ "names.cpu" | translate }}</div>
      <div class="data" (click)="onClick('systeminfo')"> 18% 3.84GHz</div>
    </div>
    <div class="gauge memory">
      <div class="title" (click)="onClick('systeminfo')">{{ "names.memory" | translate }}</div>
      <div class="data" (click)="onClick('systeminfo')"> 7.9/15.8GB (50%)</div>
    </div>
  </div>
</div>
