@import "variables";

:host {
  display: flex;
  align-items: center;
}

.nav-item {
  @include inactiveButton;

  &.active {
    font-weight: bold;
    background-color: inherit;
    color: var(--theme-color-active);
  }

  &:hover {
    @include hoverButton;
  }
}

.sub-navs {
  margin-left: 10px;

  .nav-item {
    margin-right: 5px;
    font-size: 1rem;
    font-family: Mulish;
    // padding-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

::ng-deep.mat-tooltip.gnb-tooltip {
  @include tooltip;
}
