<button mat-button class="ai active">
  <div class="rect">AI</div>
</button>
<button mat-button class="locale"><mat-icon>language</mat-icon> English</button>
<button mat-button class="legend" (click)="onLegend()">
  <mat-icon>info</mat-icon> Legend
</button>

<ng-container [ngSwitch]="isAuthenticated">
  <ng-container *ngSwitchCase="true">
    <button mat-button class="signin" [matMenuTriggerFor]="accountMenu">
      <mat-icon>person</mat-icon> {{ user?.firstName }} {{ user?.lastName }}
    </button>
    <mat-menu #accountMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="onProfile()">
        <mat-icon>account_circle</mat-icon> {{ "names.profile" | translate }}
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon> {{ "names.logout" | translate }}
      </button>
    </mat-menu>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <button mat-button class="signin" (click)="onLogin()">
      <mat-icon>person</mat-icon> Login
    </button>
  </ng-container>
</ng-container>
