.ai {
  background-color: var(--theme-text-color);
  color: #fff;
  padding: 0;
  margin-right: 16px;

  // line-height: 18px;
  min-width: 22px;
  height: 22px;
}
.ai .rect {
  width: 16px;
  //width: 52px;
  height: 16px;
  line-height: 18px;
  font-size: 12px;
  // font-weight: normal;
  // border: 1px solid white;
}

.ai.active {
  background-color: var(--theme-color-active);
}

button {
  .mat-icon:last-child {
    margin-right: 4px;
  }
}

.locale,
.legend {
  mat-icon {
    font-size: 22px;
    width: 22px;
    height: 22px;
  }
}
