@import 'variables';

:host {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}

.active {
  @include activeButton;
}

.inactive {
  @include inactiveButton;
}

.status-item {
  margin: 0 10px;

  &.tcs-mode {
    margin: 0;
  }
}
