<div class="main-navs">
  <button
    mat-icon-button
    class="nav-item"
    matTooltipClass="gnb-tooltip"
    matTooltipPosition="below"
    matTooltip="Monitor"
    routerLinkActive="active"
    routerLink="/monitor/status"
  >
    <mat-icon>monitor</mat-icon>
  </button>
  <button
    mat-icon-button
    class="nav-item"
    matTooltipClass="gnb-tooltip"
    matTooltipPosition="below"
    matTooltip="Playback"
    routerLinkActive="active"
    routerLink="/playback"
  >
    <mat-icon>play_circle_outline</mat-icon>
  </button>
  <button
    mat-icon-button
    class="nav-item"
    matTooltipClass="gnb-tooltip"
    matTooltipPosition="below"
    matTooltip="History"
    routerLinkActive="active"
    routerLink="/histories"
  >
    <mat-icon>history</mat-icon>
  </button>

  <button
    mat-icon-button
    class="nav-item"
    matTooltipClass="gnb-tooltip"
    matTooltipPosition="below"
    matTooltip="Logs"
    routerLinkActive="active"
    routerLink="/logs"
  >
    <mat-icon>receipt_long</mat-icon>
    <!-- <mat-icon>library_books</mat-icon> -->
  </button>
  <button
    mat-icon-button
    class="nav-item"
    matTooltipClass="gnb-tooltip"
    matTooltipPosition="below"
    matTooltip="Settings"
    (click)="onOpenSettings()"
    >
    <!-- routerLinkActive="active"
    [routerLink]="['settings', {outlets: {sub: ['users']}}]" -->
    <mat-icon>settings</mat-icon>
  </button>
</div>

<div class="sub-navs">
  <ng-container [ngSwitch]="parentRoute">
    <ng-container *ngSwitchCase="'/monitor'">
      <a
        mat-button
        class="nav-item"
        routerLinkActive="active"
        routerLink="/monitor/status"
        >Status</a
      >
      <!-- <a
        mat-button
        class="nav-item"
        routerLinkActive="active"
        routerLink="/monitor/metrics"
        >Metrics</a
      > -->
    </ng-container>

    <ng-container *ngSwitchCase="'/playback'">
      <a
        mat-button
        class="nav-item"
        routerLinkActive="active"
        routerLink="/playback"
        >Playback</a
      >
    </ng-container>
    <ng-container *ngSwitchCase="'/histories'">
      <a
        mat-button
        class="nav-item tight"
        routerLinkActive="active"
        routerLink="/histories/orders"
        >Orders</a
      >
      <a
        mat-button
        class="nav-item tight"
        routerLinkActive="active"
        routerLink="/histories/vehicles"
        >Vehicles</a
      >
      <a
        mat-button
        class="nav-item tight"
        routerLinkActive="active"
        routerLink="/histories/alarms"
        >Alarms</a
      >
      <a
        mat-button
        class="nav-item tight"
        routerLinkActive="active"
        routerLink="/histories/warnings"
        >Warnings</a
      >
    </ng-container>
    <ng-container *ngSwitchCase="'/logs'">
      <a
        mat-button
        class="nav-item"
        routerLinkActive="active"
        routerLink="/logs"
        >Logs</a
      >
    </ng-container>

    <div *ngSwitchDefault></div>
  </ng-container>
</div>
