<ng-container [ngSwitch]="isReady">
  <ng-container *ngSwitchCase="true">
    <mat-icon
      class="status-item host-status"
      [class.active]="isActiveStatus"
      (click)="changeHostStatus()"
      >{{ hostStatusIcon }}</mat-icon
    >
    <button
      mat-button
      class="status-item status-action host-mode"
      (click)="changeHostMode()"
      [disabled]="!canControl"
    >
      <span [class.active]="isActiveHostMode">{{ hostModeText }}</span>
    </button>
    <button
      mat-button
      class="status-item status-action tcs-mode"
      [disabled]="!canControl"
      (click)="changeTscMode()"
    >
      <span [class.active]="isActiveTscMode">{{ tscModeText }}</span>
    </button>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <mat-spinner class="loading" [diameter]="30"></mat-spinner>
  </ng-container>
</ng-container>
