@import "~@angular/cdk/overlay-prebuilt.css";
@import "variables";

:root {
  --theme-color: #328cc1;
  --theme-primary-color: #4974c1;
  --theme-color-light: #dddddd;
  --theme-color-dark: darkslategray;
  --theme-color-active: #0095ff;
  --theme-color-inactive: #b5bfcd;
  --theme-border-color: #d4d4d4;
  --theme-text-color: #999;
  --theme-font: Mulish, Roboto, "Helvetica Neue", sans-serif;
  --panel-background-color: #f5f5f5;
  --header-height: 40px;
  --highlight-hover-color: #96d4ff;
  --highlight-select-color: #4e9ff3;
  --highlight-weight-thin: 5;
  --highlight-weight-mid: 7.5;
  --highlight-weight-thick: 10;
  --modified-color: lightgoldenrodyellow;
  --disabled-color: lightgrey;
  --link-color: #0b3c5d;
  --details-background-color: #eeeeee;
  --loader-border-color: #f5f5f5;
  --toolbar-background-color: #f8f8f8;
  --button-border-color: #d4d4d4;
  --button-background-color: white;
  --button-highlight-color: #96d4ff;
  --button-active-color: #33333311;
  --dialog-border-color: #b5bfcd;
  --mask-weight: 10;
  --transparency: 0.8;
  --padding: 0.1;
  --selection-weight: 12;
  --side-panel-header-background: #eee;
  --side-panel-header-border: #d4d4d4;
  --side-panel-header-active: #0095ff;
  --dark-slate-grey: darkslategray;
  --highlighted-text: white;
  --highlighted-row: #0095ff;
  --notification-color: rgb(255, 180, 0);
  --notification-critical-color: rgb(255, 80, 0);
  --invalid-color: rgb(255, 100, 100);

  /* Cluster color palette */
  --num-palette-colors: 24;
  --color1: #36382e;
  --color1-name: JET;
  --color2: #735f3d;
  --color2-name: COYOTE BROWN;
  --color3: #960200;
  --color3-name: USC CARDINAL;
  --color4: #ff0000;
  --color4-name: RED;
  --color5: #ef6f6c;
  --color5-name: LIGHT CARMINE PINK;
  --color6: #ffa5a5;
  --color6-name: SALMON PINK;
  --color7: #f6ca83;
  --color7-name: TOPAZ;
  --color8: #ffd046;
  --color8-name: GARGOYLE GAS;
  --color9: #ff8800;
  --color9-name: DARK ORANGE;
  --color10: #c6a15b;
  --color10-name: AZTEC GOLD;
  --color11: #949d6a;
  --color11-name: ARTICHOKE;
  --color12: #adffbb;
  --color12-name: MAGIC MINT;
  --color13: #80b5a7;
  --color13-name: GREEN SHEEN;
  --color14: #91dcf7;
  --color14-name: PALE CYAN;
  --color15: #57b8ff;
  --color15-name: BLUE JEANS;
  --color16: #0099ff;
  --color16-name: WILD STRAWBERRY;
  --color17: #ff3fa5;
  --color17-name: AZURE;
  --color18: #4f359b;
  --color18-name: BLUE-MAGENTA VIOLET;
  --color19: #241e4e;
  --color19-name: SPACE CADET;
  --color20: #8c2155;
  --color20-name: DARK RASPBERRY;
  --color21: #ff006a;
  --color21-name: VIVID RASPBERRY;
  --color22: #d34cd3;
  --color22-name: MEDIUM ORCHID;
  --color23: #e2a1dc;
  --color23-name: PLUM;
  --color24: #5c1a1b;
  --color24-name: CAPUT MORTUUM;

  --color-button-width: 20px;
  --color-button-height: 20px;
  --color-tile-width: 16px;
  --color-tile-height: 16px;
  --color-palette-width: 176px;

  /* overlap indicator */
  --overlap-fill-color: white;
  --overlap-border-color: #328cc1;
  --overlap-border-width: 2px;

  /* Overlap Panel */
  --overlap-scroll-bar-width: 8;
  --overlap-scroll-bar-color: rgb(194, 194, 194);
  --overlap-scroll-bar-color-active: rgb(125, 125, 125);

  /* Unassigned floating panel */
  --unassigned-status: active;
  --unassigned-width: 170px;
  --unassigned-height: 200px;
  --unassigned-svg-width: 170px;
  --unassigned-svg-height: 150px;
  --unassigned-width-inactive: 30px;
  --unassigned-height-inactive: 30px;
  --unassigned-top: calc(50% - var(--unassigned-height) / 2);
  --unassigned-right: calc(50% - var(--unassigned-width) / 2);

  /* Status Page Size Percentage */
  --table-percentage: 30%;

  /* Table rules */
  --background-color: white;
  --even-row-color: #fbfbfb;
  --table-hover-color: whitesmoke;

  /* Baseline font size for SVG elements */
  --element-font-size: 11;

  /* svg scale group variables */
  --scale-color: rgb(0, 0, 0);
  --font-size: 10px;

  /* Grid variables */
  --grid-line-weight: 1;
  --grid-color: rgb(245, 245, 245);
  --grid-rendering-distance: 500;
  --grid-axis-min-pixel: 50;
  --grid-number_of_ticks: 20;
  --grid-text-color-hide: transparent;
  --grid-text-color: transparent;
  --grid-text-color-show: darkslategray;
  --grid-domain-display: none;
  --grid-axis-color: rgb(200, 200, 200);

  /* Point Variables */
  --point-radius: 2;
  --point-color: rgb(80, 80, 80);
  --point-label-color: rgb(80, 80, 80);
  --point-label-offset: 20;

  /* Segment Variables */
  --segment-line-weight: 2;
  --segment-direction-width: 5;
  --segment-direction-length: 8;
  --segment-direction-color: rgb(200, 200, 200);
  --segment-color: rgb(200, 200, 200);
  --segment-color-disabled: rgb(66, 00, 99);
  --segment-color-invalidate: rgb(255, 115, 33);
  --segment-label-color: rgb(80, 80, 80);
  --segment-label-offset: 10;

  /* Station Variables */
  --station-radius: 26;
  --station-width: 30;
  --station-width-rect: 5;
  --station-radius-foup: 7;
  --station-line-weight: 2;
  --station-line-weight-foup: 1;
  --station-color: rgb(0, 0, 0);
  --station-color-foup: rgb(0, 0, 0);
  --station-color-foup-full: rgb(100, 100, 100);
  --station-color-foup-empty: rgb(255, 255, 255);
  --station-label-color: rgb(0, 0, 0);
  --station-label-color-foup: rgb(255, 255, 255);
  --station-text-offset: 19;
  --station-icon-level1: "m-2.5 -2.5 l5 0 l0 5 l-5 0 l0 -5 l1 0";
  --station-icon-level2: "m-10 -10 l20 0 l0 20 l-20 0 l0 -20 l1 0";
  --station-icon-level3: "m-14 -4.5 l0 -9 l9 0 m9 0 l9 0 l0 9 m0 9 l0 9 l-9 0 m-9 0 l-9 0 l0 -9 m0 -9";

  /* Buffer Variables */
  --buffer-radius: 13;
  --buffer-width: 30;
  --buffer-width-circle: 3;
  --buffer-radius-foup: 7;
  --buffer-line-weight: 5;
  --buffer-line-weight-foup: 1;
  --buffer-color: rgb(100, 100, 100);
  --buffer-color-foup: rgb(0, 0, 0);
  --buffer-color-foup-full: rgb(100, 100, 100);
  --buffer-color-foup-empty: rgb(255, 255, 255);
  --buffer-label-color: rgb(0, 0, 0);
  --buffer-label-color-foup: rgb(255, 255, 255);
  --buffer-text-offset: 19;
  --buffer-icon-level1: "m0 -2.5 a 2.5 2.5 0 0 1 0 5 a 2.5 2.5 0 0 1 0 -5";
  --buffer-icon-level2: "m0 -10 a 10 10 0 0 1 0 20 a 10 10 0 0 1 0 -20";
  --buffer-icon-level3: "m-15 5 m5 -10 l-5 0 a10 10 0 0 1 10 -10 l0 5 a5 5 0 0 0 -5 5 l-5 0 m20 -5 l0 -5a 10 10 0 0 1 10 10 l-5 0 a5 5 0 0 0 -5 -5 l0 -5 m5 20 l5 0 a10 10 0 0 1 -10 10 l0 -5 a5 5 0 0 0 5 -5 l5 0 m-20 5 l0 5 a10 10 0 0 1 -10 -10 l5 0 a5 5 0 0 0 5 5 l0 5 z";

  /* MTL Variables */
  --mtl-radius: 26;
  --mtl-width: 30;
  --mtl-line-weight: 3;
  --mtl-color: rgb(100, 100, 100);
  --mtl-label-color: rgb(0, 0, 0);
  --mtl-text-offset: 19;
  --mtl-icon-level1: "m -2.5 -2.5 l 5 0 l -5 5 l 5 0 l -5 -5 z";
  --mtl-icon-level2: "m-10 10 l5 -10 l-5 -10 l20 0 l-5 10 l5 10";
  --mtl-icon-level3: "m-13.5 13.5 l4.5 -4.5 l-4.5 -4.5 l4.5 -4.5 l-4.5 -4.5 l4.5 -4.5 l-4.5 -4.5 l27 0 l-4.5 4.5 l4.5 4.5 l-4.5 4.5 l4.5 4.5 l-4.5 4.5 l4.5 4.5 m-22.5 -22.5 l18 0";

  /* Cluster Variables */
  --cluster-line-weight: 6;
  --cluster-text-offset: 10;
  --cluster-stroke-color: transparent;
  --cluster-fill-color: rgba(255, 204, 0, 0.6);
  --cluster-size: var(--grid-rendering-distance);

  /* Vehicle Variables */
  --vehicle-line-weight: 3;
  --vehicle-clean-dash: "4";
  --vehicle-error: "m-8 0 l-5 10 l10 0 z";
  --vehicle-radius: 8;
  --vehicle-clean-radius: 9;
  --vehicle-line-weight: 3;
  --vehicle-clean-line-weight: 2;
  --vehicle-mask-weight: 10;
  --vehicle-color-mode-auto-outline: rgb(65, 65, 65);
  --vehicle-color-mode-auto: rgb(95, 95, 95);
  --vehicle-color-mode-manual: rgb(40, 180, 115);
  --vehicle-color-mode-manual-outline: rgb(20, 120, 55);
  --vehicle-color-mode-error: rgb(255, 255, 25);
  --vehicle-color-mode-error-outline: rgb(160, 160, 50);
  --vehicle-color-mode-sloppy-manual: rgb(235, 195, 81);
  --vehicle-color-mode-sloppy-manual-outline: rgb(189, 149, 51);
  --vehicle-color-mode-prevent-push: rgb(184, 127, 158);
  --vehicle-color-mode-prevent-push-outline: rgb(157, 86, 122);
  --vehicle-color-mode-prevent-call: rgb(178, 168, 211);
  --vehicle-color-mode-prevent-call-outline: rgb(105, 89, 166);
  --vehicle-color-mode-none: rgb(255, 255, 255);
  --vehicle-color-mode-none-outline: rgb(0, 0, 0);
  --vehicle-color-blocked: rgb(240, 30, 35);
  --vehicle-color-hotlot: rgb(255, 128, 0);
  --vehicle-color-label: rgb(65, 65, 68);
  --vehicle-color-label-hotlot: rgb(250, 250, 250);
  --vehicle-text-offset: 20;
  --vehicle-label-color: rgb(0, 0, 0);
  --vehicle-xfer-status-color: orange;
  --vehicle-blocked-radius: 3;
  --vehicle-animation-duration: 250;
  --vehicle-display-label: true;
  --vehicle-draw-next: true;
  --vehicle-next-weight: 1;
  --vehicle-next-color: rgb(255, 220, 70);
  --vehicle-draw-order: true;
  --vehicle-order-weight: 2;
  --vehicle-order-pickup-color: rgba(40, 180, 115, 0.3);
  --vehicle-order-dropoff-color: rgba(65, 175, 250, 0.3);
  --vehicle-fail-color: orange;
  --vehicle-foup-radius: 5;
  --vehicle-foup-color: rgb(50, 50, 50);
  --vehicle-foup-stroke-color: white;
  --vehicle-foup-stroke-width: 1;
  --expected-path-weight: 8;
  --expected-path-color: rgba(225, 175, 60, 0.3);
  --ghost-path-color: rgba(100, 100, 100, 0.6);
  --vehicle-stale-path: "M500,10C229.8,10,10,229.8,10,500c0,270.2,219.8,490,490,490c270.2,0,490-219.8,490-490C990,229.8,770.2,10,500,10L500,10z M500,906.3C276,906.3,93.7,724,93.7,500C93.7,276,276,93.7,500,93.7C724,93.7,906.3,276,906.3,500C906.3,724,724,906.3,500,906.3L500,906.3z M325.3,500c-19.4,0-35.1,15.6-35.1,35s15.7,35,35.1,35h210c19.4,0,35-15.6,35-35V255.1c0-19.4-15.6-35.1-35-35.1c-19.4,0-35,15.7-35,35.1V500L325.3,500L325.3,500z";
  --vehicle-fail-path: "m415.402344 495.421875-159.40625-159.410156-159.40625 159.410156c-22.097656 22.09375-57.921875 22.09375-80.019532 0-22.09375-22.097656-22.09375-57.921875 0-80.019531l159.410157-159.40625-159.410157-159.40625c-22.09375-22.097656-22.09375-57.921875 0-80.019532 22.097657-22.09375 57.921876-22.09375 80.019532 0l159.40625 159.410157 159.40625-159.410157c22.097656-22.09375 57.921875-22.09375 80.019531 0 22.09375 22.097657 22.09375 57.921876 0 80.019532l-159.410156 159.40625 159.410156 159.40625c22.09375 22.097656 22.09375 57.921875 0 80.019531-22.097656 22.09375-57.921875 22.09375-80.019531 0zm0 0";
  --vehicle-prevent-path: "M323 835 c-104 -28 -185 -85 -244 -172 -93 -134 -93 -332 0 -466 168 -245 524 -245 692 0 93 134 93 332 0 466 -101 147 -282 216 -448 172z m184 -98 c28 -8 64 -22 79 -31 l27 -18 -219 -219 c-120 -120 -222 -219 -226 -219 -4 0 -18 19 -30 43 -19 35 -23 57 -23 137 0 79 4 102 23 137 77 145 217 209 369 170z m205 -169 c19 -36 23 -58 23 -138 0 -106 -15 -147 -81 -220 -91 -100 -270 -128 -383 -59 l-34 21 219 219 c120 120 222 219 226 219 4 0 18 -19 30 -42z";
  --vehicle-prevent-outer-color: #ff375f;
  --vehicle-prevent-call-path: "M144 494 c-44 -46 -45 -90 -5 -159 38 -66 163 -184 228 -214 62 -29 89 -24 141 24 l37 34 -34 35 c-40 41 -60 45 -86 16 -10 -11 -23 -20 -29 -20 -15 0 -126 100 -159 143 l-27 36 25 29 c14 17 25 34 25 40 0 10 -66 72 -77 72 -3 0 -21 -16 -39 -36z";
  --vehicle-prevent-push-path: "M312 398 c-23 -23 -12 -54 33 -98 l46 -45 -182 -5 c-159 -4 -183 -7 -193 -22 -8 -13 -8 -23 0 -35 10 -16 34 -19 193 -23 l182 -5 -46 -45 c-45 -44 -56 -75 -33 -98 25 -25 53 -10 139 75 68 66 89 93 89 113 0 20 -21 47 -89 113 -86 85 -114 100 -139 75z";
  --vehicle-prevent-inner-color: #000000;

  /* Mini Map Variables */
  --mini-map-line-weight: 1;
  --mini-map-direction-radius: 3;
  --mini-map-color: rgb(0, 0, 0);
  --mini-map-label-color: rgb(0, 0, 0);
  --mini-map-display-label: false;
  --mini-map-display-direction: false;

  /* Group variables */
  --track-size-level1: 8;
  --track-size-level2: 25;
  --track-size-level3: 35;
  --vehicle-size: 8;
  --group-opacity: 0.5;

  /* Context menu */
  --context-menu-width: 200;
  --overlay-shadow: 0 0.7px 1.1px rgba(0, 0, 0, 0.042),
    0 2.2px 3.8px rgba(0, 0, 0, 0.06), 0 10px 17px rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Mulish, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  overflow: hidden;
}
* {
  font-family: Mulish, Roboto, "Helvetica Neue", sans-serif;
}

header {
  width: 100vw;
}
button.active {
  background-color: var(--button-active-color);
}

h3,
h4,
h5 {
  margin: 8px 0;
}

button:focus {
  outline: 0;
}

.side_panel_header {
  cursor: pointer;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 8px 0px 2px 10px;
  background-color: var(--side-panel-header-background);
  border: none;
  border-top: 1px solid var(--side-panel-header-border);
  border-bottom: 1px solid var(--side-panel-header-border);
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  transition: background-color 0.2s;
}

.side_panel_header:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: -3px;
}

.side_panel_header.active:after {
  content: "\2796";
}

.side_panel_header.active {
  background-color: var(--side-panel-header-background);
  border: none;
  border-top: 1px solid var(--side-panel-header-border);
  border-bottom: 1px solid var(--side-panel-header-border);
}

.side_panel {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  // background-color: var(--toolbar-background-color);
  background-color: #fff;
  border-left: 1px solid var(--theme-border-color);
  overflow: hidden;
  z-index: 9;
  transition: height 0.15s;
}

.side_panel.active {
  height: calc(100% - 2px);
}

.side_panel_detail_table {
  border-collapse: collapse;
}

.side_panel_detail_table .unit {
  font-weight: normal;
}

.side_panel_detail_table .column {
  text-align: right;
}

.side_panel th,
.side_panel td {
  padding: 0px 2px 0px 2px;
}

.side_panel .popup_svg {
  width: 100%;
}

.drag-handle {
  cursor: move;
}

.pre-line {
  white-space: pre-line;
}
.full-span-col {
  grid-column: 1/-1;
}
.full-span-row {
  grid-row: 1/-1;
}
.pointer {
  cursor: pointer;
}

// material
.mat-dialog-container {
  padding: 8px !important;
}
[mat-dialog-title] {
  font-family: Mulish, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: -8px -8px 8px -8px !important;
  padding: 3px 16px;
  background: var(--theme-primary-color);
  color: #fff;
  cursor: move;
}
.alarms-dialog {
  .mat-dialog-container {
    border: 2px solid var(--notification-critical-color);
  }
  [mat-dialog-title] {
    background-color: var(--notification-critical-color);
  }
}
.alerts-dialog {
  .mat-dialog-container {
    border: 2px solid var(--notification-color);
  }
  [mat-dialog-title] {
    background-color: var(--notification-color);
  }
}
button.warn .mat-badge-warn .mat-badge-content {
  background-color: var(--notification-color);
}
.mat-dialog-content {
  margin: 0 -8px !important;
  padding: 0 8px !important;
}
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -8px !important;
  padding: 4px 0 0 0 !important;
}

[mat-button],
[mat-flat-button],
[mat-raised-button],
[mat-stroked-button] {
  font-weight: bold;

  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;

    mat-icon {
      margin-right: 4px;
    }
    .mat-icon:last-child {
      margin-right: 0px;
    }
  }
  &.dense {
    line-height: 23px;
    font-size: 12px;

    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
    }
  }
}

mat-nav-list,
mat-selection-list,
mat-list {
  &.dense {
    .mat-list-item, .mat-list-option {
      font-size: 12px !important;
      height: 24px !important;
    }
  }
}

.mat-tab-label {
  height: 36px !important;
  min-width: 70px !important;
  padding: 0 8px !important;
  font-weight: bold;

  &.mat-tab-label-active {
    background-color: white;
  }
}

// [mat-flat-button],
// [mat-raised-button] {
//   &.mat-primary {
//     background-color: #4974c1;
//   }
//   &.mat-warn {
//     background-color: #d6746d;
//   }
// }

[mat-button],
[mat-stroked-button] {
  &.accent {
    &.mat-primary {
      background-color: #dae7ff;
    }
    &.mat-warn {
      background-color: #ffdddb;
    }
  }
}

mat-button-toggle-group {
  font-size: 11px;

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 24px;
  }

  .mat-button-toggle-checked {
    font-weight: bold;
    background-color: #dae7ff;
    color: var(--theme-primary-color) !important;
  }
}

.mat-menu-panel {
  min-width: 80px;

  .mat-menu-content:not(:empty) {
    padding: 0;
  }
  .mat-menu-item {
    line-height: 24px;
    height: 32px;
  }
}

mat-radio-button {
  font-size: 12px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-slide-toggle {
  margin: 2px;
  font-size: 12px;

  .mat-slide-toggle-content {
    font-family: var(--theme-font);
  }
}
snack-bar-container.error {
  &.server {
    background-color: var(--notification-critical-color);
    color: white;
  }
  &.client {
    color: var(--notification-color);
  }
}

.mat-form-field.full-width {
  max-width: 100% !important;
}
.mat-form-field.dense {
  font-size: 12px;
  width: 100%;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  &.mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: 5px 0 10px 0;
    }
  }
  &.mat-form-field-disabled {
    input::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
    .mat-form-field-outline {
      color: rgba(0, 0, 0, 0.05);
    }
  }
}

// devextreme
.dx-widget {
  font-size: 12px;
}

.dx-datagrid {
  font-size: 10px;
}

.dx-datagrid .dx-row > td {
  padding: 3px;
}

.dx-datagrid-text-content {
  font-size: 10px;
  font-weight: bold;
}

.table-control-body .dx-checkbox {
  padding-top: 2px;
  display: inline-block;
}

.dx-command-select {
  width: 40px !important;
  min-width: 40px !important;
}

.dx-datagrid-header-panel .dx-toolbar {
  margin: 3px 0 3px 0;
}

.dx-pager {
  padding-top: 2px;
  padding-bottom: 2px;

  .dx-page-sizes .dx-page-size {
    padding: 4px;
  }
  .dx-pages .dx-page {
    padding: 4px;
  }
}
