:host {
  display: flex;
  flex-direction: column;
}

fieldset {
  margin-top: 8px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.form-item {
  &.station {
    grid-column-start: 1;
  }
}
