<div class="setting-header">
  <h3 class="setting-title">{{ "names.preference" | translate }}</h3>
  <div class="setting-actions"></div>
</div>

<div class="setting-container">
  <fieldset>
    <legend>{{ "names.settings" | translate }}</legend>
    <div class="form-grid">
      <mat-slide-toggle [(ngModel)]="preference.toggles.showToolName" color="primary"
        (change)="onChangedToggle('showToolName')">{{ "names.showToolName" | translate }}</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="preference.toggles.showOmsVersion" color="primary"
        (change)="onChangedToggle('showOmsVersion')">{{ "names.showOmsVersion" | translate }}</mat-slide-toggle>
      <mat-slide-toggle *ngIf="canUseKpi" [(ngModel)]="preference.toggles.showKpi" color="primary"
        (change)="onChangedToggle('showKpi')">{{ "names.showKpi" | translate }}</mat-slide-toggle>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ "names.theme" | translate }}</legend>

    <div class="form-grid">
      <oms-color-picker *ngFor="let item of themeItems" class="form-item home" [configName]="item.style"
        [name]="'names.' + item.name | translate"></oms-color-picker>
    </div>

    <div class="actions">
      <mat-form-field class="dense theme-selector" appearance="outline">
        <mat-select #themeItemSelector [value]="resetThemeTargets" [placeholder]="'names.selectResetItem' | translate"
          (selectionChange)="onSelectResetTheme($event)" multiple>
          <mat-option *ngFor="let item of themeItems" [value]="item.style">{{
            "names." + item.name | translate
            }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="dense" [disabled]="!canResetTheme" color="primary" (click)="onResetTheme()">
        {{ "names.resetToDefault" | translate }}
      </button>
    </div>
  </fieldset>
</div>
