<div class="setting-header">
  <h3 class="setting-title">{{ "names.preference" | translate }}</h3>
  <div class="setting-actions"></div>
</div>

<div class="item-container">
  <mat-slide-toggle
    [(ngModel)]="preference.toggles.showToolName"
    color="primary"
    (change)="onChangedToggle('showToolName')"
    >{{ "names.showToolName" | translate }}</mat-slide-toggle
  >
  <div class="form-grid">
    <label class="name">{{ "names.playbackBgColor" | translate }}</label>
    <div class="value">
      <dx-color-box
        #colorPicker
        [height]="33"
        [value]="getThemeValue('--playback-background-color')"
        applyValueMode="instantly"
        [editAlphaChannel]="true"
        (onValueChanged)="
          onChangedTheme('--playback-background-color', colorPicker.value)
        "
      ></dx-color-box>
    </div>
  </div>
</div>
