dl {
	margin: 0;
}
dt {
	font-weight: bold;
	font-size: 15px;
	margin-top: 16px;

	&:first-child {
		margin-top: 0;
	}
}
dd {
	display: flex;
	flex-wrap: wrap;
	margin-left: 16px;
	&.--item-gap {
		gap: 50px;
	}
}
.legend-dlg-item {
	width: 100px;
}
.legend-icon svg {
	width: 100px;
	height: 55px;
}

// used on station/buffer/mtl/zcu/fireshutter legend
.legend-icon svg.long-vertical {
	width: 100px;
	height: 60px;
}
