<div id="status-control-container" (mouseup)="resizeViewerStop($event)" (mouseleave)="resizeViewerStop($event)">
  <div id="resize-handle" (mousedown)="resizeViewerStart()" (dblclick)="viewerHide()"></div>
  <button mat-flat-button id="resize-button" class="dense" (mousedown)="resizeViewerStart()" (dblclick)="viewerHide()">
    <mat-icon>height</mat-icon>
  </button>
  <button mat-flat-button id="close-button" class="dense" (click)="viewerHide()">
    <mat-icon>expand_more</mat-icon>
  </button>
  <div id="status-toolbar" *ngIf="canControl">
    <button *ngIf="hasPermissions([permissionEnums.ResetAllVehicle]) && canDisplayTable('vehicles')" mat-stroked-button
      class="dense" (click)="onVehicleReset()">
      <mat-icon>settings_backup_restore</mat-icon>
      <span>{{ "names.resetAllVehicle" | translate }}</span>
    </button>
    <button *ngIf="hasPermissions([permissionEnums.AutoAllVehicle]) && canDisplayTable('vehicles')" mat-stroked-button
      class="dense" (click)="onSetAuto()">
      <mat-icon>brightness_auto</mat-icon>
      <span>{{ "names.autoAllVehicle" | translate }}</span>
    </button>
  </div>
  <mat-tab-group class="tab-group" [(selectedIndex)]="currentTab" (selectedIndexChange)="onChangeTab($event)"
                 animationDuration="0ms">

    <mat-tab [label]="'names.orders' | translate" *ngIf="canDisplayTable('orders')">
      <oms-order-control-table [tableHeight]="tableHeight">
      </oms-order-control-table>
    </mat-tab>
    <mat-tab [label]="'names.vehicles' | translate" *ngIf="canDisplayTable('vehicles')">
      <oms-vehicle-control-table [tableHeight]="tableHeight">
      </oms-vehicle-control-table>
    </mat-tab>
    <!-- Stations / Buffers 추가 -->
    <mat-tab [label]="'names.stations' | translate" *ngIf="canControl && canDisplayTable('stations')">
      <oms-station-control-table [tableHeight]="tableHeight">
      </oms-station-control-table>
    </mat-tab>
    <mat-tab [label]="'names.buffers' | translate" *ngIf="canControl && canDisplayTable('buffers')">
      <oms-buffer-control-table [tableHeight]="tableHeight">
      </oms-buffer-control-table>
    </mat-tab>
    <!-- Stations / Buffers 추가 -->
    <!-- cps 추가 -->
    <mat-tab [label]="'names.cps' | translate" *ngIf="canControl && canDisplayTable('cps')">
      <oms-zcu-control-table [tableHeight]="tableHeight">
      </oms-zcu-control-table>
    </mat-tab>
    <!-- cps 추가 -->
    <!-- Zcu 추가 -->
    <mat-tab [label]="'names.zcus' | translate" *ngIf="canControl && canDisplayTable('zcus')">
      <oms-zcu-control-table [tableHeight]="tableHeight">
      </oms-zcu-control-table>
    </mat-tab>
    <!-- Zcu 추가 -->
  </mat-tab-group>
</div>
