<div
  id="status-control-container"
  (mouseup)="resizeViewerStop($event)"
  (mouseleave)="resizeViewerStop($event)"
>
  <div
    id="resize-handle"
    (mousedown)="resizeViewerStart()"
    (dblclick)="viewerHide()"
  ></div>
  <button
    mat-flat-button
    id="resize-button"
    class="dense"
    (mousedown)="resizeViewerStart()"
    (dblclick)="viewerHide()"
  >
    <mat-icon>height</mat-icon>
  </button>
  <button
    mat-flat-button
    id="close-button"
    class="dense"
    (click)="viewerHide()"
  >
    <mat-icon>expand_more</mat-icon>
  </button>
  <div id="status-toolbar" *ngIf="canControl">
    <button mat-stroked-button class="dense" (click)="onVehicleReset()">
      <mat-icon>settings_backup_restore</mat-icon>
      <span>{{ "names.resetAll" | translate }}</span>
    </button>
    <button mat-stroked-button class="dense" (click)="onSetAuto()">
      <mat-icon>brightness_auto</mat-icon>
      <span>{{ "names.autoAll" | translate }}</span>
    </button>
    <button mat-stroked-button class="dense">
      <mat-icon>device_hub</mat-icon>
      <span>{{ "names.ioList" | translate }}</span>
    </button>
    <button mat-stroked-button class="dense" (click)="onPing()">
      <mat-icon>security_update_warning</mat-icon>
      <span>{{ "names.vehicleStatus" | translate }}</span>
    </button>
  </div>
  <mat-tab-group
    class="tab-group"
    [(selectedIndex)]="currentTab"
    (selectedIndexChange)="onChangeTab($event)"
    animationDuration="0ms"
  >
    <mat-tab [label]="'names.orders' | translate">
      <oms-order-control-table
        [tableHeight]="tableHeight"
        *ngIf="currentTab == 0"
      ></oms-order-control-table>
    </mat-tab>
    <mat-tab [label]="'names.vehicles' | translate">
      <oms-vehicle-control-table
        [tableHeight]="tableHeight"
        *ngIf="currentTab == 1"
      ></oms-vehicle-control-table>
    </mat-tab>
  </mat-tab-group>
</div>
