:host {
  display: flex;
  flex-direction: column;
}
#status-control-container {
  position: relative;
  // margin-top: 4px;
  padding: 8px;
  background-color: #fff;
  height: auto;
}

#resize-handle {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 6px;
  background-color: var(--theme-color);
  cursor: n-resize;
}
