:host {
  display: flex;
  flex-direction: column;
}
#status-control-container {
  // overflow-x: hidden;
  // overflow-y: hidden;
  position: relative;
  // margin-top: 4px;
  padding: 8px;
  padding-bottom: 2px;
  background-color: #fff;
  height: auto;
}

#close-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--dialog-border-color);
  color: white;
  z-index: 5;
width: 24px;
  height: 24px;
  min-width: 24px;
  border-radius: 0;
  border-bottom-left-radius: 4px;

  mat-icon {
    margin-right: 0;
  }
}
#resize-button {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dialog-border-color);
  color: white;
  z-index: 5;
  width: 24px;
  height: 24px;
  min-width: 24px;
  border-radius: 4px;
  cursor: n-resize;

  mat-icon {
    margin-right: 0;
  }
}

#resize-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--dialog-border-color);
  cursor: n-resize;
}

#status-toolbar {
  position: absolute;
  //left: 550px;
  left: 750px;
  right: 40px;
  padding: 1px;
  padding-left: 80px;
  z-index: 3;

  button {
    margin-right: 8px;
  }
}

.tab-group {
  ::ng-deep.mat-tab-label {
    min-width: 150px !important;
  }
}
