.focus {
  --focus-color-transparent: rgba(78, 159, 243, 0.5);
  --focus-color-solid: rgb(78, 159, 243);
}

#point-layer .focus {
  fill: var(--focus-color-solid);
  pointer-events: none;
}

#segment-layer .focus {
  stroke: var(--focus-color-solid);
  pointer-events: none;
}

#station-layer .focus {
  stroke: var(--focus-color-solid);
  pointer-events: none;
}

#buffer-layer .focus {
  stroke: var(--focus-color-solid);
  pointer-events: none;
}

#mtl-layer .focus {
  stroke: var(--focus-color-solid);
  pointer-events: none;
}

#zcu-layer .focus {
  stroke: var(--focus-color-solid);
  stroke-width: 10;
  pointer-events: none;
}

#cluster-layer .focus {
  stroke: var(--focus-color-solid);
  pointer-events: none;
}

#vehicle-layer .type.focus path {
  stroke: var(--focus-color-solid);
  stroke-width: 40;
  pointer-events: none;
}
#vehicle-layer .arrow.focus path {
  fill: var(--focus-color-solid);
}
