:hover {
  --hover-color-solid: rgb(0, 94, 161);
  --hover-color-transparent: rgb(0, 94, 161, 0.5);
  /* --filter-size is in OmsTrackMonitor.ce.vue */
}

/* 
  Check this doc for filter & func: drop-shadow
  https://developer.mozilla.org/en-US/docs/Web/CSS/filter 
*/

#point-layer .point:hover {
  filter: drop-shadow(0 0 var(--filter-size) var(--hover-color-solid));
}

#segment-layer .segment:hover {
  filter: drop-shadow(0 0 var(--filter-size) var(--hover-color-solid));
}

#station-layer .station:hover {
  filter: drop-shadow(0 0 var(--filter-size) var(--hover-color-solid));
}

#buffer-layer .buffer:hover {
  filter: drop-shadow(0 0 var(--filter-size) var(--hover-color-solid));
}

#mtl-layer .mtl:hover {
  filter: drop-shadow(0 0 var(--filter-size) var(--hover-color-solid));
}

#zcu-layer .zcu:hover {
  filter: drop-shadow(0 0 var(--filter-size) var(--hover-color-solid));
}

#cluster-layer .cluster:hover {
  filter: drop-shadow(0 0 var(--filter-size) var(--hover-color-solid));
}

#vehicle-layer .type.hover path {
  stroke: var(--hover-color-transparent);
  stroke-width: 40;
  pointer-events: none;
}
#vehicle-layer .arrow.hover path {
  fill: var(--hover-color-solid);
}
