#point-layer[data-is-label-visible='false' i] .point .label {
  visibility: hidden;
}

#station-layer[data-is-station-visible='false' i] {
  visibility: hidden;
}

#buffer-layer[data-is-buffer-visible='false' i] {
  visibility: hidden;
}

#layer-container[data-is-group-visible='false' i] .group-shadow {
  visibility: hidden;
}

#cluster-layer [data-is-cluster-visible='false' i] {
  visibility: hidden;
}

#segment-layer[data-is-direction-visible='false' i] .segment .direction {
  visibility: hidden;
}

#vehicle-layer[data-is-line-visible='false' i] .line {
  visibility: hidden;
}
